---
title: Statistics
nav:
  order: 9
  icon: statistics
---

{% include 'components/breadcrumb.njk' %}

<h1>Statistics</h1>
<p>Here are some statistics about the photos available in this site.</p>

<style>{% renderFile "src/assets/sass/components/statistics.scss" %}</style>

<h2>Photos per year</h2>
<div id="photos_per_year"></div>

<h2>Cameras and camera brands</h2>

<h3>Photos per brand</h3>
<div id="photos_per_brand"></div>

<h3>Photos per year and brand</h3>
<div id="photos_per_year_and_brand"></div>

<h3>Photos per camera</h3>
<div id="photos_per_camera"></div>

<h3>Photos per year and camera</h3>
<div id="photos_per_year_and_camera"></div>

<h2>Overall frequencies of settings</h2>

<h3>{% inline_icon 'focal-length' %} Focal lengths (35mm equivalent)</h3>
<div id="focal_lengths"></div>

<h3>{% inline_icon 'aperture' %} Apertures</h3>
<div id="apertures"></div>

<h3>{% inline_icon 'iso' %} ISOs</h3>
<div id="isos"></div>

<h3>{% inline_icon 'shutter_speed' %} Shutter speeds</h3>
<div id="shutter_speeds"></div>

<h2>Yearly frequencies of settings</h2>

<h3>{% inline_icon 'aperture' %} Apertures along the years</h3>
<div id="apertures_per_year"></div>

<h3>{% inline_icon 'shutter_speed' %} Shutter speeds along the years</h3>
<div id="shutter_speeds_per_year"></div>

<h3>{% inline_icon 'iso' %} ISOs along the years</h3>
<div id="isos_per_year"></div>

<h2>Combined settings</h2>

<h3>Apertures and shutter speeds</h3>
<div id="apertures_and_shutter_speeds"></div>
<div id="apertures_and_shutter_speeds_2"></div>

<h3>ISOs per camera</h3>
<div id="isos_per_camera"></div>

{# <h3>Apertures per year</h3>
<div id="apertures_per_year"></div>
<script>
let photoData;
const counts = {};
let key;
{% for photo in collections.unique_photos %}
  {% if photo.data.origin.data.settings.aperture.computed %}
    photoData = {
      slug: "{{ photo.fileSlug }}",
      year: {{ photo.data.origin.data.date | year }},
      aperture: {{ photo.data.origin.data.settings.aperture.computed }},
      readable: "{{ photo.data.origin.data.settings.aperture.readable }}"
    };
    key = `${photoData.year}-${photoData.aperture}`;
    if (counts[key] === undefined) {
      counts[key] = { year: photoData.year, aperture: photoData.aperture, readable: photoData.readable, number: 0 };
    }
    counts[key].number++;
  {% endif %}
{% endfor %}

const aperturesPerYear = [];
for (const key in counts) {
  aperturesPerYear.push(counts[key]);
}
</script>

<h3>Apertures per year 2</h3>
<div id="aperturesPerYear2"></div>
<script>
const aperturesPerYear2 = [];
{% for photo in collections.unique_photos %}
  {% if photo.data.origin.data.settings.aperture.computed %}
    aperturesPerYear2.push({
      slug: "{{ photo.fileSlug }}",
      year: "{{ photo.data.origin.data.date | year }}",
      aperture: {{ photo.data.origin.data.settings.aperture.computed }},
      readable: "{{ photo.data.origin.data.settings.aperture.readable }}"
    });
  {% endif %}
{% endfor %}
</script>

<h3>Apertures and shutter speeds</h3>
<div id="aperturesAndShutterSpeeds"></div>
<script>
const aperturesAndShutterSpeeds = [];
{% for photo in collections.unique_photos %}
  {% if photo.data.origin.data.settings.aperture.computed %}
    aperturesAndShutterSpeeds.push({
      slug: "{{ photo.fileSlug }}",
      year: {{ photo.data.origin.data.date | year }},
      aperture: {{ photo.data.origin.data.settings.aperture.computed }},
      readable_aperture: "{{ photo.data.origin.data.settings.aperture.readable }}",
      shutter_speed: {{ photo.data.origin.data.settings.shutter_speed.computed }},
      readable_shutter_speed: "{{ photo.data.origin.data.settings.shutter_speed.readable }}"
    });
  {% endif %}
{% endfor %}
</script> #}

{%- js "statistics" %}{% renderFile "src/assets/js/statistics.js" %}{% endjs %}
<script type="module" src="{% getBundleFileUrl "js", "statistics" %}"></script>