---
pagination:
  data: collections.shutter_speeds
  size: 1
  alias: shutter_speeds
  filter:
    - all
  addAllPagesToCollections: true
layout: statistics
eleventyComputed:
  title: "Photos taken with shutter speed {{ shutter_speeds.readable }}"
permalink: /statistics/shutter-speed/{{ shutter_speeds.slug }}/
---

{% block content %}

{%- css "critical" %}{% renderFile "src/assets/sass/components/photos.scss" %}{% endcss %}

{% from "macros/photo.njk" import photo %}

{% set photos = collections.photos_in_galleries | with_setting('shutter_speed', shutter_speeds.readable) %}
{% set photosNumber = photos | length %}
<p>Here {% if photosNumber < 2 %}is <strong>the single photo</strong>{% else %}are <strong>the {{ photosNumber }} photos</strong>{% endif %} shared here that I took with the <strong>shutter speed {{ shutter_speeds.readable }}</strong>:</p>
<ul class="photos">
  {% for item in photos %}
    {% if loop.index < 4 %}
      {{ photo(item, "eager", build.env) }}
    {% else %}
      {{ photo(item, "lazy", build.env) }}
    {% endif %}
  {% endfor %}
</ul>

<p>Look for <a href="/statistics/">all statistics</a>.</p>

{% endblock %}
