<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "{{ site.url }}/"
    },
    {
      "@type": "ListItem",
      "position": 2,
      "name": "Tags",
      "item": "{{ site.url }}/tags/"
    },
    {
      "@type": "ListItem",
      "position": 3,
      "name": "{{ title }}",
      "item": "{{ site.url }}{{ page.url }}"
    }
  ]
}
</script>
