---
title: Photos that are not used yet
---

{% from "macros/photo.njk" import photo %}

{%- css "critical" %}{% renderFile "src/assets/sass/components/photos.scss" %}{% endcss %}

<h1>{{ title }}</h1>

<ul class="photos">
  {% for item in collections.photos_not_in_galleries %}
    {% if loop.index < 4 %}
      {{ photo(item, "eager", build.env, true) }}
    {% else %}
      {{ photo(item, "lazy", build.env, true) }}
    {% endif %}
  {% endfor %}
</ul>
