{% from "macros/css.njk" import css %}
{{ css('components/breadcrumb', build.env) }}
<nav aria-label="Breadcrumb" class="breadcrumb">
  <ol>
    <li><a href="/">Home</a></li>
    <li><a href="/tags/">Tags</a></li>
  </ol>
</nav>