{%- css "critical" %}{% renderFile "src/assets/sass/components/breadcrumb.scss" %}{% endcss %}

<nav aria-label="Breadcrumb" class="breadcrumb">
  <ol>
    <li><a href="/">Home</a></li>
    <li><a href="/tags/">Tags</a></li>
  </ol>
</nav>