{% from "macros/css.njk" import css %}
{{ css('components/breadcrumb', build.env) }}
<nav aria-label="Breadcrumb" class="breadcrumb">
  <ol>
    <li><a href="/">Home</a></li>
    {% for item in breadcrumb %}
      <li><a href="{{ item.page.url }}">{{ item.data.title }}</a></li>
    {% endfor %}
  </ol>
</nav>