{%- css "defer" %}{% renderFile "src/assets/sass/components/footer.scss" %}{% endcss %}

<footer>
  <div class="footer__social">
    <p>Find me also on</p>
    <ul>
      <li>{% external_icon 'flickr' %} <a href="https://flickr.com/people/nicolas-hoizey/" rel="me">Flickr</a></li>
      <li>{% external_icon 'pixelfed' %} <a href="https://pixelfed.social/nhoizey" rel="me">pixelfed</a></li>
      <li>{% external_icon 'unsplash' %} <a href="https://unsplash.com/@nhoizey" rel="me">Unsplash</a></li>
      <li>{% external_icon 'locationscout' %} <a href="https://www.locationscout.net/@nhoizey" rel="me">Locationscout</a></li>
      <li>{% external_icon 'mastodon' %} <a href="https://mamot.fr/@nhoizey" rel="me">Mastodon</a></li>
    </ul>
  </div>

  <div class="footer__builtwith">
    <ul>
      <li>Created by <a href="https://nicolas-hoizey.com/" rel="me">Nicolas Hoizey</a>,</li>
      <li>built with {% external_icon 'eleventy' %} <a href="https://www.11ty.dev/">Eleventy</a>,</li>
      <li>images optimized by {% external_icon 'cloudinary' %} <a href="https://cloudinary.com/">Cloudinary</a>,</li>
      <li>search powered by {% external_icon 'pagefind' %} <a href="https://pagefind.app/">Pagefind</a>,</li>
      <li>hosted on {% external_icon 'netlify' %} <a href="https://netlify.com/">Netlify</a>.</li>
    </ul>
  </div>
</footer>
