{% from "macros/css.njk" import css %}
{{ css('components/logo', build.env) }}

<div class="logo">
  {%- if page.url == '/' -%}<h1>{%- else -%}<a href="/">{%- endif -%}
    <img src="/ui/logo.svg" alt="Nicolas Hoizey photography" width="1" height="1" onload="this.style.opacity=1" />
  {%- if page.url == '/' -%}</h1>{%- else -%}</a>{%- endif -%}
</div>
