{%- css "critical" %}{% renderFile "src/assets/sass/components/logo.scss" %}{% endcss %}

<div class="sitelogo">
  {%- if page.url == '/' -%}<h1>{%- else -%}<a href="/">{%- endif -%}
    <img src="/ui/logo.svg" alt="Nicolas Hoizey photography" width="100" height="100" />
  {%- if page.url == '/' -%}</h1>{%- else -%}</a>{%- endif -%}
</div>
