{% from "macros/css.njk" import css %}
{{ css('components/navigation') }}

<nav id="nav" role="navigation">
  <ul>
    {% for item in collections.navigation %}
      {% set targetUrl = item.data.nav.away or item.url %}
      {% set targetLabel = item.data.nav.title or item.data.title %}
      <li
        {% if item.url == '/' and page.url == '/' or (item.url != '/' and item.url in page.url) %}
          class="current"
        {% endif %}>
        <a href="{{ targetUrl }}" {% if item.data.nav.icon %} class="icon icon--{{ item.data.nav.icon}}"{% endif %}>{{ targetLabel }}</a>
      </li>
    {% endfor %}
  </ul>
  {% include 'components/social.njk' %}
</nav>
