{% from "macros/css.njk" import css %}
{{ css('components/navigation', build.env) }}

<nav role="navigation">
  <ul>
    <li class="home {% if page.url == '/' %} current{% endif %}">
      <a href="/">{% inline_icon 'home' %} <span>Home</span></a>
    </li>
    {% for item in collections.navigation %}
      {% set targetUrl = item.data.nav.away or item.url %}
      {% set targetLabel = item.data.nav.title or item.data.title %}
      <li {% if item.url != '/' and item.url in page.url %} class="current"{% endif %}>
        <a href="{{ targetUrl }}">{% inline_icon item.data.nav.icon %} <span>{{ targetLabel }}</span></a>
        {% if item.url == '/galleries/' %}
          <ul>
            {% for item2 in collections.navigation2 %}
              {% if item.url in item2.url %}
                {% set target2Url = item2.data.nav.away or item2.url %}
                {% set target2Label = item2.data.nav.title or item2.data.title %}
                <li {% if item2.url in page.url %} class="current"{% endif %}>
                  <a href="{{ target2Url }}">{% inline_icon item2.data.nav.icon %} <span>{{ target2Label }}</span></a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
