{% from "macros/css.njk" import css %}
{{ css('components/social', config.dir.dist) }}

<div id="social">
  <ul>
    <li>{% icon "flickr", "Flickr" %} <a href="https://flickr.com/people/nicolas-hoizey/">Flickr</a></li>
  </ul>
</div>
