{% from "macros/css.njk" import css %}
{{ css('components/social', config.dir.dist) }}

<div id="social">
  <p>Find me also on</p>
  <ul>
    <li><a href="https://flickr.com/people/nicolas-hoizey/" rel="me" class="icon icon--flickr">Flickr</a></li>
    <li><a href="https://unsplash.com/@nhoizey" rel="me" class="icon icon--unsplash">Unsplash</a></li>
    <li><a href="https://twitter.com/nhoizey" rel="me" class="icon icon--twitter">Twitter</a></li>
    <li><a href="https://pixelfed.social/nhoizey" rel="me" class="icon icon--pixelfed">pixelfed</a></li>
    <li><a href="https://www.locationscout.net/@nhoizey" rel="me" class="icon icon--locationscout">Locationscout</a></li>
  </ul>
</div>
