{#
https://mamot.fr/@nhoizey/113374779561108401
{%- css "critical" %}{% renderFile "src/assets/sass/components/sub_galleries.scss" %}{% endcss %}
#}

<section>
  <h2>Galleries</h2>
  <ul class="sub_galleries">
    {# {% include 'components/sub_galleries_eventail.njk' %} #}
    {% include 'components/sub_galleries_kenburns.njk' %}
  </ul>
</section>
