---
layout: page
title: Photos that are not yet used
---

{% from "macros/photo.njk" import photo %}

{% from "macros/css.njk" import css %}
{{ css('components/gallery', build.env) }}

<h1>{{ title }}</h1>

<ul class="gallery">
  {% for item in collections.photos_not_in_galleries %}
    {% if loop.index < 4 %}
      {{ photo(item, "eager", true) }}
    {% else %}
      {{ photo(item, "lazy", true) }}
    {% endif %}
  {% endfor %}
</ul>
