---
pagination:
  data: collections.all_photos
  size: 1
  alias: photo
  filter:
    - all
  addAllPagesToCollections: false
layout: false
eleventyComputed:
  title: opengraph image for “{{ photo.title }}”
permalink: /photos/{{ photo.fileSlug }}/opengraph.html
---
{%- set geo = photo.data.origin.data.geo %}
{%- set colors = photo.data.origin.data.colors %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>opengraph image for “{{ photo.title }}”</title>
    <link rel="stylesheet" href="/ui/css/components/opengraph.css" />
    <style>
      #opengraph {
        background-color: #{{ colors.darkMuted | bgcolor }};
      }

      .title h1 {
        {% set titleLength = photo.data.title | length %}
        --adaptive-font: {{ 45 - titleLength / 8 }}px;
      }

      .icon {
        color: #{{ colors.darkMuted | fgcolor }};
      }
    </style>
  </head>

  <body>
    <div id="opengraph" class="photo">
      <div class="meta">
        <div class="title">
          <h1>{{ photo.data.title }}</h1>
          {% if geo.city or geo.country %}
            <table class="geo">
              {% if geo.city %}
                <tr class="city">
                  <td class="icon">{% icon 'map' %}</td>
                  <td>{{ geo.city }}</td>
                </tr>
              {% endif %}
              {% if geo.country %}
                <tr class="country">
                  <td class="icon">{% icon 'travels' %}</td>
                  <td>{{ geo.country }}</td>
                </tr>
              {% endif %}
            </table>
          {% endif %}
        </div>
        <img class="logo" src="/ui/logo.svg" alt="Nicolas Hoizey photography" />
      </div>
      <div class="content">
        <div class="frame">
          <img src="/photos/{{ photo.fileSlug }}/small.jpg" data-responsiver="false" />
        </div>
      </div>
    </div>
  </body>
</html>
