---
layout: null
permalink: /feeds/mastodon/photos-test.json
---
{
  "version": "https://jsonfeed.org/version/1",
  "title": "Photos - Nicolas Hoizey",
  "home_page_url": "{{ site.url }}",
  "feed_url": "{{ site.url }}/feeds/mastodon/photos.json",
  "items": [
  {% for photo in collections.unique_photos %}
    {%- set photoPageUrl -%}{{ site.url }}{{ photo.url }}{%- endset -%}
    {%- set gear = photo.data.origin.data.gear -%}
    {%- set settings = photo.data.origin.data.settings -%}
    {%- set breadcrumb = collections.photo_galleries | breadcrumb(photo.url) -%}
    {%- set contentStart -%}&lt;a href=\"{{ photoPageUrl }}\"&gt;{{ photo.data.title | decodeEntities | escapeQuotes(true) | safe }}&lt;/a&gt;\n\n{%- endset -%}
    {%- set contentStartLength = contentStart | length -%}
    {%- set contentEnd -%}\n\n📅 {{ photo.data.date | readableDate }}{%- if gear and gear.camera -%}\n\n📸 {{ gear.camera.brand }} {{ gear.camera.model -}}{%- if gear.lenses %} + {% set plus = joiner(" + ") -%}{%- for lens in gear.lenses -%}{{ plus() }}{%- if lens.brand != gear.camera.brand -%}{{ lens.brand }} {% endif -%}{{ lens.model }}{% endfor %}{% endif %}{%- endif -%}{%- if settings.iso or settings.aperture or settings.shutter_speed -%}\n🎞️ {% if settings.iso -%}ISO {{ settings.iso }}{% if settings.aperture or settings.shutter_speed -%}, {%- endif -%}{%- endif -%}{%- if settings.aperture %} ƒ/{{ settings.aperture }}{%- if settings.shutter_speed -%}, {% endif -%}{%- endif -%}{%- if settings.shutter_speed -%}{{ settings.shutter_speed }}s{%- endif -%}{%- endif -%}\n\n{%- for item in breadcrumb -%}{% if not loop.first %}{{ item.data.title | tagToHashtag | safe }} {% endif %}{%- endfor -%}#Photography{% endset -%}
    {%- set contentEndLength = contentEnd | length -%}
    {%- set contentLength = contentStartLength + contentEndLength -%}
    {%- set contentMiddle = photo.data.origin.content | markdownify | replace("</p>\n<p>", "</p>\n\n<p>") | decodeEntities | striptags(true) | escapeQuotes | truncate(475 - contentLength, false, '…') | replace("\n", "\\n") | safe -%}
    {#- 500 characters on mamot.fr, a few for emojis -> 475 -#}
    {
      "id": "{{ photoPageUrl }}",
      "url": "{{ photoPageUrl }}",
      "language": "{{ photo.data.lang }}",
      "title": "{{ photo.data.title | decodeEntities | escapeQuotes | safe }}",
      "date_published": "{{ photo.data.date | rssDate }}",
      "content_text": "{{- contentStart | safe -}}{{- contentMiddle | safe -}}\n\n{{- contentEnd | safe -}}",
      "attachments": [
        {
          "url": "{{ site.url }}/photos/{{ photo.page.fileSlug }}/small.jpg",
          "mime_type": "image/jpeg",
          "title": "{{ photo.data.title | decodeEntities | escapeQuotes | safe }}"{%- if photo.data.origin.data.alt_text -%},
          "_alt_text": "{{ photo.data.origin.data.alt_text | decodeEntities | escapeQuotes | safe }}"{% endif %}

        }
      ]
    }{%- if not loop.last -%},{%- endif -%}
  {% endfor %}
  ]
}
