---
title: Gear
nav:
  order: 8
  icon: camera
---

{% include 'components/breadcrumb.njk' %}

<h1>Gear</h1>
<p>I've used cameras and lenses from a few different brands along the years.</p>
<p>Here's the full list, so that you can browse photos I made with them:</p>

<style>{% renderFile "src/assets/sass/components/brands.scss" %}</style>
<ul class="brands">
{% for brand in collections.brands %}
  <li><a href="/gear/{{ brand.slug }}/"><img src="/{{ brand.logo }}" alt="{{ brand.brand }}" data-responsiver="brand" /></a></li>
{% endfor %}
</ul>
