/* ********************************************
* FONTS
* ********************************************/

// @font-face {
//   font-family: 'Coniferous';
//   src: url(/ui/fonts/Coniferous-Thin.woff2) format('woff2'),
//     url(/ui/fonts/Coniferous-Thin.woff) format('woff');
//   font-weight: 200;
//   font-style: normal;
//   font-display: fallback;
// }

// @font-face {
//   font-family: 'Coniferous';
//   src: url(/ui/fonts/Coniferous-Light.woff2) format('woff2'),
//     url(/ui/fonts/Coniferous-Light.woff) format('woff');
//   font-weight: 300;
//   font-style: normal;
//   font-display: fallback;
// }

@font-face {
  font-family: 'Coniferous';
  src: url(/ui/fonts/Coniferous-Regular.woff2) format('woff2'),
    url(/ui/fonts/Coniferous-Regular.woff) format('woff');
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF,
    U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Coniferous-subset';
  src: url(/ui/fonts/Coniferous-Regular-subset.woff2) format('woff2'),
    url(/ui/fonts/Coniferous-Regular-subset.woff) format('woff');
  unicode-range: U+21, U+26-29, U+2C-2E, U+30, U+31, U+34, U+38, U+3F, U+41-57,
    U+59, U+5A, U+61-7A, U+B0, U+C0, U+C9, U+D6, U+E4, U+E8, U+E9, U+ED, U+F3,
    U+FB, U+301, U+2026, U+52D5, U+62F3, U+6CE2;
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

// @font-face {
//   font-family: 'Coniferous';
//   src: url(/ui/fonts/Coniferous-Medium.woff2) format('woff2'),
//     url(/ui/fonts/Coniferous-Medium.woff) format('woff');
//   font-weight: 500;
//   font-style: normal;
//   font-display: fallback;
// }

// @font-face {
//   font-family: 'Coniferous';
//   src: url(/ui/fonts/Coniferous-Bold.woff2) format('woff2'),
//     url(/ui/fonts/Coniferous-Bold.woff) format('woff');
//   font-weight: 600;
//   font-style: normal;
//   font-display: fallback;
// }

// @font-face {
//   font-family: 'Coniferous';
//   src: url(/ui/fonts/Coniferous-Black.woff2) format('woff2'),
//     url(/ui/fonts/Coniferous-Black.woff) format('woff');
//   font-weight: 700;
//   font-style: normal;
//   font-display: fallback;
// }
