/* ********************************************
* FONTS
* ********************************************/

// @font-face {
//   font-family: 'Coniferous';
//   src: url(/ui/fonts/Coniferous-Thin.woff2) format('woff2'),
//     url(/ui/fonts/Coniferous-Thin.woff) format('woff');
//   font-weight: 200;
//   font-style: normal;
//   font-display: fallback;
// }

// @font-face {
//   font-family: 'Coniferous';
//   src: url(/ui/fonts/Coniferous-Light.woff2) format('woff2'),
//     url(/ui/fonts/Coniferous-Light.woff) format('woff');
//   font-weight: 300;
//   font-style: normal;
//   font-display: fallback;
// }

@font-face {
  font-family: 'Coniferous';
  src: url(/ui/fonts/Coniferous-Regular.woff2) format('woff2'),
    url(/ui/fonts/Coniferous-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Coniferous-subset';
  src: url(/ui/fonts/Coniferous-Regular-subset.woff2) format('woff2'),
    url(/ui/fonts/Coniferous-Regular-subset.woff) format('woff');
  unicode-range: U+21, U+23, U+26-29, U+2C-3B, U+3F, U+41-5A, U+61-7A, U+B0,
    U+C0, U+C5, U+C9, U+CE, U+D6, U+D7, U+E0-E2, U+E4, U+E5, U+E7-EB, U+ED-EF,
    U+F3, U+F4, U+FA, U+FB, U+101, U+153, U+161, U+2BF, U+389, U+393, U+395,
    U+39A, U+3AC, U+3AE, U+3B1, U+3B2, U+3B4, U+3B5, U+3B7, U+3BB, U+3BC, U+3BF,
    U+3C1, U+3C3, U+3C4, U+3CD, U+627, U+628, U+62A, U+62F, U+631, U+635, U+637,
    U+642, U+646-648, U+64A, U+200E, U+2013, U+2019, U+201C, U+201D, U+2026,
    U+4ED4, U+4FDD, U+52D5, U+5F35, U+62F3, U+6CE2;
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

// @font-face {
//   font-family: 'Coniferous';
//   src: url(/ui/fonts/Coniferous-Medium.woff2) format('woff2'),
//     url(/ui/fonts/Coniferous-Medium.woff) format('woff');
//   font-weight: 500;
//   font-style: normal;
//   font-display: fallback;
// }

// @font-face {
//   font-family: 'Coniferous';
//   src: url(/ui/fonts/Coniferous-Bold.woff2) format('woff2'),
//     url(/ui/fonts/Coniferous-Bold.woff) format('woff');
//   font-weight: 600;
//   font-style: normal;
//   font-display: fallback;
// }

// @font-face {
//   font-family: 'Coniferous';
//   src: url(/ui/fonts/Coniferous-Black.woff2) format('woff2'),
//     url(/ui/fonts/Coniferous-Black.woff) format('woff');
//   font-weight: 700;
//   font-style: normal;
//   font-display: fallback;
// }
