.icon {
  padding-left: 1.2em;

  background-size: 1em 1em;
  background-position-x: 0;
  background-position-y: 0.2em;
  background-repeat: no-repeat;
}

$iconNames: aperture,download,feeds,twitter,blog,date,camera,urban,nature,folder,travels,like,home,portraits,info,contact,map,misc,share,tag,focal_length,shutter_speed,eleventy,flickr,unsplash,iso;

@each $icon in $iconNames {
  .icon--#{$icon} {
    background-image: url('/ui/svg-sprite.svg##{$icon}');
  }
}