@use './variables' as *;
@use "sass:map";

/* ********************************************
* LAYOUT
* ********************************************/

body {
  margin: 0;
  padding: $gap;
  display: flex;
  flex-direction: column;
  gap: 0;
  min-height: 100vh;
}

.page {
  flex-grow: 1;

  display: grid;
  gap: 2vw;
  grid-template-columns: 1fr;
  grid-template-areas:
    'logo'
    'navigation'
    'main';
  grid-auto-rows: min-content min-content auto;

  @media (min-width: $breakpoint-m) {
    // 4+5 compound grid from https://stuffandnonsense.co.uk/layoutlove/
    grid-template-columns: 6fr 1fr 4fr 3fr 3fr 4fr 1fr 6fr;
    grid-template-areas:
      'logo navigation navigation navigation navigation navigation navigation navigation'
      'main main main main main main main main';
    grid-auto-rows: min-content auto;
  }

  @media (min-width: $breakpoint-l) {
    grid-template-areas:
      'logo main main main main main main main'
      'navigation main main main main main main main';
  }

  @media (min-width: $breakpoint-xl) {
    grid-template-areas:
      'logo . main main main main main main'
      'navigation . main main main main main main';
  }
}

.logo {
  grid-area: logo;
  align-self: start;
}

nav {
  grid-area: navigation;
}

main {
  grid-area: main;
}
