@use './variables' as *;

/* ********************************************
* LAYOUT
* ********************************************/

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-m) {
    flex-direction: row;
  }
}

header {
  flex-shrink: 0;
  padding: var(--space-s);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--space-s);
  align-items: center;

  @media (min-width: $breakpoint-m) {
    border-bottom: none;
    background-color: $color-header;
    border-right: 2px solid #111;
    box-shadow: 0px 0px 2rem 0.5rem rgba(0, 0, 0, 0.5);

    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-l);
  }
}

nav {
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: flex-end;

    li + li {
      margin-left: var(--space-xs);
    }

    ul {
      display: none;
    }

    @media (min-width: $breakpoint-m) {
      flex-direction: column;
      margin-left: var(--space-s);

      li + li {
        margin-left: 0;
        margin-top: var(--space-s);
      }

      li + .blog {
        margin-top: var(--space-l);
      }

      ul {
        margin-top: var(--space-2xs);
        margin-bottom: var(--space-s);
        padding-left: 1em;
        display: flex;

        li + li {
          margin-top: var(--space-2xs);
        }
      }
    }
  }
}

.page {
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-m) {
    min-height: 100vh;
  }
}

main {
  padding: var(--space-s);
  flex-grow: 1;

  @media (min-width: $breakpoint-m) {
    padding-left: var(--space-xl);
    padding-right: var(--space-xl);
  }
}
