@use './variables' as *;

/* ********************************************
* LINKS
* ********************************************/

a:link,
a:visited {
  color: white;
  text-decoration-color: var(--ambiant-foreground, #{$color-theme-lighter-2});
  text-decoration-thickness: 2px;

  transition-property: text-decoration-color;
  transition-duration: $transition-timing;
  transition-timing-function: ease-in-out;

  // https://twitter.com/argyleink/status/1405881231695302659
  touch-action: manipulation;
}

a:hover,
a:focus,
a:active {
  color: white;
  text-decoration-color: $color-theme;
}
