/* ********************************************
* VARIABLES
* ********************************************/

$gap: 1.5rem;

$color-surface: #190c25;

$color-text: #f7f5fa;

$color-logo: rebeccapurple;

$breakpoint-s: 20em;
$breakpoint-m: 30em;
$breakpoint-l: 50em;
$breakpoint-xl: 60em;
