/* ******************************************************************
 * View transitions only work for MPA in Chrome Canary with a flag
 * https://developer.chrome.com/docs/web-platform/view-transitions/
 * https://daverupert.com/2023/05/getting-started-view-transitions/
 ********************************************************************/

::view-transition-old(root) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
}

::view-transition-new(root) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in;
}

header {
  // prevent transition of the header/nav
  view-transition-name: header;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
    transform: translateY(1rem);
  }
}

// Switch off the default fading

::view-transition-image-pair(root) {
  isolation: auto;
}

// ::view-transition-old(root),
// ::view-transition-new(root) {
//   animation: none;
//   mix-blend-mode: normal;
//   display: block;
// }
