@use './variables' as *;
@use './utopia';
@use './fonts';
@use './layout';
@use './links';
@use './icons-sprite';
@use './components/blog';
@use './components/meta';

/* ********************************************
* CUSTOM PROPERTIES
* ********************************************/

:root {
  --logo-wide: calc(13.5rem + 18vw);
  --logo-square: calc(9rem + 2vw);
}

/* ********************************************
* UTILITIES
* ********************************************/

// Lobotomized owl
%owl {
  & > :not(link) + *,
  & > :not(style) + * {
    margin-top: var(--space-xl);
  }
}

// Acpect ratio padding hack
[style*='--aspect-ratio'] > :first-child {
  width: 100%;
}
[style*='--aspect-ratio'] > img {
  height: auto;
}
@supports (--custom: property) {
  [style*='--aspect-ratio'] {
    position: relative;
  }
  [style*='--aspect-ratio']::before {
    content: '';
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }
  [style*='--aspect-ratio'] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

// Box sizing:
// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;
  text-size-adjust: 100%;
  // https://twitter.com/TimVereecke/status/1239454788116533248
  // https://twitter.com/lfredolo/status/1240301405325361152
  overflow-y: scroll;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $color-surface;
  color: $color-text;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--step-0);
  line-height: 1.5;
}

main {
  & > *:first-child {
    margin-top: 0;
  }

  @extend %owl;
}

/* ********************************************
* HEADINGS
* ********************************************/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Coniferous-subset, Coniferous, 'Arial Narrow',
    'Franklin Gothic Medium', sans-serif;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
}

h1 {
  font-size: var(--step-3);

  .breadcrumb + & {
    margin-top: 0;
  }
}

h2 {
  font-size: var(--step-2);
}

h3 {
  font-size: var(--step-1);
}

/* ********************************************
* INLINE ELEMENTS
* ********************************************/

img {
  max-width: 100%;
  height: auto;
}

/* ********************************************
* GALLERIES
* ********************************************/

.galleries {
  list-style: none;
  padding-left: 0;

  display: grid;
  column-gap: var(--space-2xl);
  row-gap: var(--space-xl);
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

  align-items: end;

  li {
    max-width: 20rem;
  }

  figure {
    .diaporama {
      position: relative;

      > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &::before {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
    }

    .diaporama__2 {
      img {
        animation-name: diaporama__2;
        animation-duration: $timing-diaporama * 2;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }

      img:nth-of-type(2) {
        animation-delay: $timing-diaporama;
      }
    }

    .diaporama__3 {
      img {
        animation-name: diaporama__3;
        animation-duration: $timing-diaporama * 3;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }

      img:nth-of-type(2) {
        animation-delay: $timing-diaporama;
      }

      img:nth-of-type(3) {
        animation-delay: $timing-diaporama * 2;
      }
    }
  }
}

@keyframes diaporama__2 {
  0% {
    opacity: 0.5;
  }

  10% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes diaporama__3 {
  0% {
    opacity: 0.5;
  }

  6.66% {
    opacity: 1;
  }

  26.66% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  93.33% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

/* ********************************************
* GALLERY
* ********************************************/

.gallery {
  list-style: none;
  padding-left: 0;

  display: grid;
  column-gap: var(--space-m);
  row-gap: var(--space-l);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 18rem), 1fr));

  li {
    max-width: 20rem;
  }

  img {
    max-height: 10rem;
    width: auto;
  }
}

/* ********************************************
* PHOTO
* ********************************************/

figure {
  margin: 0;
  position: relative;

  img {
    background-color: black;
    padding: 1px;
    border-style: solid;
    border-width: 2px;
    border-color: white;

    transition-property: border-color;
    transition-duration: $timing-transition;
    transition-timing-function: ease-in-out;
  }

  &:hover,
  &:focus-within {
    img {
      border-color: $color-theme;
    }
  }

  figcaption {
    line-height: 1.3;

    padding-left: 4px;
    padding-right: 4px;

    display: flex;
    flex-direction: column;
  }

  a::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

/* ********************************************
* BREADCRUMB
* ********************************************/

.breadcrumb {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  font-size: var(--step--1);
  color: $color-theme-lighter-4;

  li {
    display: inline-block;
  }

  li:after {
    content: ' ▸';
  }

  a:link,
  a:visited {
    color: $color-theme-lighter-3;
    text-decoration-line: none;
  }

  a:hover,
  a:focus {
    color: $color-theme-lighter-5;
  }
}
