@use './variables' as *;
@use './utopia';
@use './fonts';
@use './layout';
@use './links';
@use './components/blog';
@use './components/meta';

/* ********************************************
* CUSTOM PROPERTIES
* ********************************************/

:root {
  --logo-wide: calc(13.5rem + 18vw);
  --logo-square: calc(9rem + 2vw);
}

/* ********************************************
* UTILITIES
* ********************************************/

// Lobotomized owl
%owl > * + * {
  margin-block-start: var(--space-m);
}

// Box sizing:
// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;
  text-size-adjust: 100%;
  // https://twitter.com/TimVereecke/status/1239454788116533248
  // https://twitter.com/lfredolo/status/1240301405325361152
  overflow-y: scroll;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $color-surface;
  color: $color-text;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--step-0);
  line-height: 1.5;
}

main {
  *:first-child {
    margin-block-start: 0;
  }

  @extend %owl;
}

/* ********************************************
* HEADINGS
* ********************************************/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Coniferous, sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: $color-theme-lighter-5;
}

h1 {
  font-size: var(--step-3);
  color: $color-theme-lighter-3;

  .breadcrumb + & {
    margin-block-start: 0;
  }
}

h2 {
  font-size: var(--step-2);
}

h3 {
  font-size: var(--step-1);
}

/* ********************************************
* INLINE ELEMENTS
* ********************************************/

img {
  max-width: 100%;
  height: auto;
}

/* ********************************************
* GALLERIES
* ********************************************/

.galleries {
  display: grid;
  column-gap: var(--space-m);
  row-gap: var(--space-l);
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

  list-style: none;
  padding-left: 0;

  li {
    max-width: 30rem;
  }
}

/* ********************************************
* GALLERY
* ********************************************/

.gallery {
  list-style: none;
  padding-inline-start: 0;

  display: grid;
  column-gap: var(--space-m);
  row-gap: var(--space-l);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr));

  figure {
    max-width: 30rem;
  }
}

figure {
  margin: 0;
  position: relative;

  img {
    background-color: black;
    padding: 2px;
    border: solid 4px white;
  }

  &:hover,
  &:focus-within {
    img {
      border: 4px solid $color-theme;
    }
  }

  figcaption {
    padding-inline-start: 4px;
    padding-inline-end: 4px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  a::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

/* ********************************************
* BREADCRUMB
* ********************************************/

.breadcrumb {
  list-style: none;
  margin-block-end: 0;
  padding-left: 0;
  font-size: var(--step--1);
  color: $color-theme-lighter-4;

  li {
    display: inline-block;
  }

  li:after {
    content: ' ▸';
  }

  a:link,
  a:visited {
    color: $color-theme-lighter-3;
    text-decoration-line: none;
  }

  a:hover,
  a:focus {
    color: $color-theme-lighter-5;
  }
}

/* ********************************************
* SVG ICONS
* ********************************************/

.icon {
  padding-left: 1.2em;

  background-size: 1em 1em;
  background-position: left center;
  background-repeat: no-repeat;
}

$iconNames: aperture, date, camera, download, blog, folder, travel, home,
  contact, info, location, feeds, favorite, twitter, people, exposition, flickr,
  unsplash;

@each $icon in $iconNames {
  .icon--#{$icon} {
    background-image: url('/ui/svg-sprite.svg##{$icon}');
  }
}
