---
title: Blog
layout: page
nav:
  order: 10
  icon: blog
---

{% from "macros/meta.njk" import meta %}
{% from "macros/css.njk" import css %}

{% include 'components/breadcrumb.njk' %}

<h1 class="page__title">Blog</h1>

Here are the latest posts:

{{ css('components/blog', build.env) }}

<ol class="blog">

{% for entry in collections.blog %}
  <li class="blog__item">
    <h2 class="blog__title"><a href="{{ entry.url }}">{{ entry.data.title }}</a></h2>
    {{ meta(entry) }}
    <p class="blog__text">{{ entry.templateContent | excerpt | striptags | safe }}</p>
  </li>
{% endfor %}

</ol>
