---
title: Blog
layout: page
nav:
  order: 10
  icon: blog
---

{% from "macros/meta.njk" import meta %}

Here are the latest news:

<div class="blog">

{% for entry in collections.blog %}
  <article>
    <h2><a href="{{ entry.url }}">{{ entry.data.title }}</a></h2>
    {{ meta(entry) }}
  </article>
{% endfor %}

</div>
