---
pagination:
  data: collections.apertures
  size: 1
  alias: apertures
  filter:
    - all
  addAllPagesToCollections: true
layout: statistics
eleventyComputed:
  title: "Photos taken with aperture {{ apertures.readable }}"
permalink: /statistics/aperture/{{ apertures.slug }}/
---

{% from "macros/css.njk" import css %}

{% block content %}

{{ css('components/photos', build.env) }}

{% from "macros/photo.njk" import photo %}

{% set photos = collections.photos_in_galleries | with_setting('aperture', apertures.readable) %}
{% set photosNumber = photos | length %}
<p>Here {% if photosNumber < 2 %}is <strong>the single photo</strong>{% else %}are <strong>the {{ photosNumber }} photos</strong>{% endif %} shared here that I took with the <strong>aperture {{ apertures.readable }}</strong>:</p>
<ul class="photos">
  {% for item in photos %}
    {% if loop.index < 4 %}
      <li>{{ photo(item, "eager", build.env) }}</li>
    {% else %}
      <li>{{ photo(item, "lazy", build.env) }}</li>
    {% endif %}
  {% endfor %}
</ul>

<p>Look for <a href="/statistics/">all statistics</a>.</p>

{% endblock %}
