---
pagination:
  data: collections.focal_lengths
  size: 1
  alias: focal_lengths
  filter:
    - all
  addAllPagesToCollections: true
layout: statistics
eleventyComputed:
  title: "Photos taken with focal lengths {{ focal_lengths.readable }}"
permalink: /statistics/focal-length/{{ focal_lengths.slug }}/
---

{% from "macros/css.njk" import css %}

{% block content %}

{{ css('components/photos', build.env) }}

{% from "macros/photo.njk" import photo %}

{% set photos = collections.photos_in_galleries | with_setting('focal_length', focal_lengths.readable) %}
{% set photosNumber = photos | length %}
<p>Here {% if photosNumber < 2 %}is <strong>the single photo</strong>{% else %}are <strong>the {{ photosNumber }} photos</strong>{% endif %} shared here that I took with the <strong>focal length {{ focal_lengths.readable }}</strong> (35mm equivalent):</p>
<ul class="photos">
  {% for item in photos %}
    {% if loop.index < 4 %}
      <li>{{ photo(item, "eager", build.env) }}</li>
    {% else %}
      <li>{{ photo(item, "lazy", build.env) }}</li>
    {% endif %}
  {% endfor %}
</ul>

<p>Look for <a href="/statistics/">all statistics</a>.</p>

{% endblock %}
