{% macro css(stylesheet, path) %}
  {% set criticalCss %}
  {% include_raw path + "/ui/css/" + stylesheet + ".css" %}
  {% endset %}
  <style>
    {{criticalCss | replace('//# sourceMappingURL=', '//# sourceMappingURL=/ui/css/') | safe}}
  </style>
{% endmacro %}
