{% macro js(javascript) %}
  {% set criticalJs %}
  {% include_raw "_tmp/js/" + javascript + ".js" %}
  {% endset %}
  <script>
    {{ criticalJs | replace('//# sourceMappingURL=', '//# sourceMappingURL=/ui/js/') | safe }}
  </script>
{% endmacro %}
