{% macro meta(item, location) %}
  <ul class="meta">
    {% if item.page.date %}
      <li class="date meta__item meta__date">
        <svg class="icon" aria-hidden="true"><use xlink:href="#date-icon" /></svg> <time class="dt-published" datetime="{{ item.data.date | attributeDate }}">{{ item.data.date | readableDate }}</time>
      </li>
    {% endif %}
  </ul>
{% endmacro %}
