{% macro meta(item, location) %}
  <ul class="meta">
    {% if item.date %}
      <li class="date meta__item meta__date">
        <svg class="icon" aria-hidden="true"><use xlink:href="#date-icon" /></svg> <time class="dt-published" datetime="{{ item.data.date | date("YYYY-MM-DD") }}">
          {{ item.data.date | date("Do MMMM YYYY") }}
        </time>
      </li>
    {% endif %}
  </ul>
{% endmacro %}
