{% from "macros/meta.njk" import meta %}

{% macro photo(item) %}
  <li>
    <figure>
      <img src="{{ item.url }}{{ item.fileSlug }}.jpg" alt="{{ item.data.title }}" />
      <figcaption>
        <a href="{{ item.url }}">{{ item.data.title }}</a>
        {{ meta(item) }}
      </figcaption>
    </figure>
  </li>
{% endmacro %}
