{% from "macros/meta.njk" import meta %}

{% macro photo(item, loading=false, slug=false) %}

  {% if item.data.origin %}
    {% set dimensions = item.data.origin.data.dimensions %}
  {% else %}
    {% set dimensions = item.data.dimensions %}
  {% endif %}

    <figure>
      <img
        src="/photos/{{ item.data.page.fileSlug }}/{{ item.data.page.fileSlug }}.jpg"
        alt="{{ item.data.title }}"
        class="frame{% if dimensions.width < dimensions.height %} portrait{% endif %}"
        {% if dimensions.width %}width="{{ dimensions.width }}"{% endif %}
        {% if dimensions.height %}height="{{ dimensions.height }}"{% endif %}
        style="background-color: rgb({{ item.data.origin.data.colors.muted }} / 50%)"
        {% if loading %}loading="{{ loading }}"{% endif %}
        data-responsiver="thumbnail_{{- 'portrait' if dimensions.width < dimensions.height else 'landscape' -}}"
      />
      <figcaption>
        <a href="{{ item.url }}">{{ item.data.title }}</a>
        {{ meta(item) }}
      </figcaption>
    </figure>
    {% if slug %}
      <input type="text" size="20" value="{{ item.fileSlug }}.md" style="font-size: .6em" onclick="this.select();document.execCommand('copy')"/>
    {% endif %}

{% endmacro %}
