.sitelogo-parent {
  flex-grow: 1;
}

.sitelogo {
  margin: 0;
  padding: 0.2rem 1rem;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  color: var(--logo-color);

  span {
    font-size: 1.65em;
  }

  a {
    text-decoration: none;
    color: var(--logo-color);
  }

  a:hover {
    text-decoration: underline;
    color: #fff;
  }
}

nav {
  --gap: 0.5rem;

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    flex-grow: 1;
  }

  a {
    display: block;
    padding: 0.1em 0.5em;
    color: #ccc;
  }

  a:hover {
    color: #fff;
  }

  .current {
    a {
      text-decoration: none;
      font-weight: bold;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
