<!DOCTYPE html>
<html lang="en" dir="ltr" data-theme="dark">
  <head>
    {# {% include "head.njk" %} #}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
      {% if page.url == '/' %}
        {% set page_title %}{{ site.title }}{% endset %}
      {% else %}
        {% set page_title %}{{ title }} — {{ site.title }}{% endset %}
      {% endif %}
      <title>{{ page_title }}</title>
      <meta property="og:title" content="{{ page_title }}" />
    {% endblock %}

    {# Critical JS #}
    {%- if eleventy.env.runMode === "serve" %}
      {# External files (local dev live reload will refresh without page reload) #}
      <script src="{% getBundleFileUrl "js", "critical" %}"></script>
    {%- else  %}
      {# Inlined (fastest site performance in production) #}
      <script>{% getBundle "js", "critical" %}</script>
    {%- endif %}
    {%- js "critical" %}
    (function (window) {
      // API key for Mapbox
      window.MAPBOX_ACCESS_TOKEN = '{{ env.MAPBOX_ACCESS_TOKEN }}';
    })(window);
    {% endjs %}

    {# Critical CSS #}
    {%- if eleventy.env.runMode === "serve" %}
      {# External files (local dev live reload will refresh without page reload) #}
      <link rel="stylesheet" href="{% getBundleFileUrl "css", "critical" %}">
    {%- else  %}
      {# Inlined CSS (fastest site performance in production) #}
      <style>{% getBundle "css", "critical" %}</style>
    {%- endif %}
    {%- css "critical" %}{% renderFile "src/assets/sass/styles.scss" %}{% endcss %}

    {% block description %}
      {# https://stackoverflow.com/q/6203984/717195 #}
      {# https://snook.ca/archives/html_and_css/open-graph-and-sharing-tags #}
      <meta property="og:description" name="description" content="{{ site.description }}" />
    {% endblock %}

    {# Speculation Rules API #}
    {# https://developer.chrome.com/blog/speculation-rules-improvements #}
    <script type="speculationrules">
    {
      "prerender": [{
        "source": "document",
        "where": {
          "and": [
            { "href_matches": "/*" },
            { "not": {"href_matches": "/tools/*"}}
          ]
        },
        "eagerness": "moderate"
      }]
    }
    </script>

    {% block canonical %}
      <link rel="canonical" href="{{ site.url + page.url }}" itemprop="url" />
    {% endblock %}

    <meta property="og:url" content="{{ site.url + page.url }}" />

    {# Mastodon: https://blog.joinmastodon.org/2024/07/highlighting-journalism-on-mastodon/ #}
    <meta name="fediverse:creator" content="@nhoizey@pixelfed.social" />

    {% if page.layout != "pages" %}
      {# TODO: Improve test (for example 404 page is a page but without "pages" layout) #}
      <meta property="og:type" content="article" />
      <meta property="article:published_time" content="{{ page.date | attributeDate }}" />
      {% for tag in tags %}
        <meta property="article:tag" content="{{ tag }}" />
      {% endfor %}
    {% endif %}

    <meta name="generator" content="{{ eleventy.generator }}" />

    {# webmentions with webmention.io #}
    <link rel="webmention" href="https://webmention.io/nicolas-hoizey.photo/webmention" />
    <link rel="pingback" href="https://webmention.io/nicolas-hoizey.photo/xmlrpc" />

    <link rel="alternate" type="application/rss+xml" title="Latest photos from {{ site.title }}" href="/feeds/photos.xml" />
    <link rel="alternate" type="application/rss+xml" title="Latest blog posts from {{ site.title }}" href="/feeds/blog.xml" />

    <link rel="icon" type="image/jpeg" href="/ui/images/nicolas-hoizey-photography-192px.jpg" />

    {# ########################################################
    # opengraph
    # ########################################################}
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    {% block opengraphimage %}
      {% set photoUrl1 = (site.url + '/photos/the-iconic-acacia-tree-in-front-of-mount-kilimanjaro/the-iconic-acacia-tree-in-front-of-mount-kilimanjaro.jpg') | base64 %}
      {% set photoUrl2 = (site.url + '/photos/colourful-netherlands/colourful-netherlands.jpg') | base64 %}
      {% set photoUrl3 = (site.url + '/photos/leslie/leslie.jpg') | base64 %}
      {% set photoUrl4 = (site.url + '/photos/morning-stroll/morning-stroll.jpg') | base64 %}
      {% set photoUrl5 = (site.url + '/photos/women-s-800m/women-s-800m.jpg') | base64 %}
      <meta property="og:image" content="{{ site.opengraph.prefix }}/{{ site.opengraph.title.top.before }}:{{ site.description }}/{{ site.opengraph.title.top.after }}/l_fetch:{{ photoUrl1 }},w_200,h_133,c_fill,bo_2px_solid_white/fl_layer_apply,g_south_west,y_288,x_48/l_fetch:{{ photoUrl2 }},w_200,h_133,c_fill,bo_2px_solid_white/fl_layer_apply,g_south_west,y_288,x_273/l_fetch:{{ photoUrl3 }},w_200,h_133,c_fill,bo_2px_solid_white/fl_layer_apply,g_south_west,y_288,x_498/l_fetch:{{ photoUrl4 }},w_200,h_133,c_fill,bo_2px_solid_white/fl_layer_apply,g_south_west,y_288,x_723/l_fetch:{{ photoUrl5 }},w_200,h_133,c_fill,bo_2px_solid_white/fl_layer_apply,g_south_west,y_288,x_948/{{ site.opengraph.background }}" />
    {% endblock %}

    {# iOS features #}
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="/ui/images/nicolas-hoizey-photography-180px.png" />
    <meta name="apple-mobile-web-app-title" content="NH photo" />
    {# https://timkadlec.com/remembers/2018-06-06-web-watch/ #}
    <meta name="disabled-adaptations" content="watch" />

    {#
    Theme color: https://developers.google.com/web/updates/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
    #}
    <meta name="theme-color" content="#292929">

    {# web app manifest #}
    {# crossorigin: https://twitter.com/TimVereecke/status/1225547620791341062 #}
    <link rel="manifest" href="/manifest.webmanifest" crossorigin="use-credentials" />

    {% block morehead %}{% endblock %}
  </head>

  <body
    data-img-src="{{ page.inputPath | dirname }}/"
    data-img-dist="{{ page.outputPath | dirname }}/"
  >
    <header role="banner">
      {% include 'components/logo.njk' %}
      {% include 'components/navigation.njk' %}
    </header>
    <div class="page">
      <main id="main" role="main"{% block styles %}{% endblock %}>
        {% block content %}
          {{ content | safe }}
        {% endblock %}
      </main>
      {% include 'components/footer.njk' %}
    </div>

    <div style="display: none" aria-hidden="true" class="reusable-icons">
      {% inline_icon 'date' %}
      {% inline_icon 'mastodon' %}
    </div>

    {# Lazy loaded not critical CSS and JS #}
    <link rel="stylesheet" href="{% getBundleFileUrl 'css', 'defer' %}" media="print" onload="this.media='all'">
    <noscript><link rel="stylesheet" href="{% getBundleFileUrl 'css', 'defer' %}"></noscript>
    <script type="module" src="{% getBundleFileUrl "js", "defer" %}"></script>
  </body>

</html>
