<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    {% include "head.njk" %}
  </head>

  <body
    data-img-src="{{ page.inputPath | dirname }}/"
    data-img-dist="{{ page.outputPath | dirname }}/"
  >
    <div class="page">
      <header>
        {% include 'components/logo.njk' %}
        {% include 'components/navigation.njk' %}
      </header>
      <main role="main">
        {% block content %}
          {{ content | safe }}
        {% endblock %}
      </main>
    </div>
    {% include 'components/footer.njk' %}
  </body>

</html>
