{% extends "./base.njk" %}

{% block opengraphimage %}
  <meta property="og:image" content="{{ site.opengraph.prefix }}/{{ site.opengraph.title.top.before }}:{{ title | clean4cloudinary }}/{{ site.opengraph.title.top.after }}/{{ site.opengraph.subtitle.top.before }}:{{ date | date("Do MMMM YYYY") }}/{{ site.opengraph.subtitle.top.after }}/{{ site.opengraph.background }}" />
{% endblock %}

{% block content %}
  {% from "macros/css.njk" import css %}
  {{ css('components/photos', build.env) }}

  {% from "macros/meta.njk" import meta %}

  <article>
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/blog/">Blog</a></li>
    </ol>
    <h1>{{ title }}</h1>
    {{ meta(page) }}
    <p>{{ content | safe }}</p>
  </article>
{% endblock %}
