{% extends "./base.njk" %}

{% block opengraphimage %}
  <meta property="og:image" content="{{ site.opengraph.prefix }}/{{ site.opengraph.title.top.before }}:{{ title | clean4cloudinary }}/{{ site.opengraph.title.top.after }}/{{ site.opengraph.subtitle.top.before }}:{{ date | readableDate }}/{{ site.opengraph.subtitle.top.after }}/{{ site.opengraph.background }}" />
{% endblock %}

{% block content %}
  {%- css "critical" %}{% renderFile "src/assets/sass/components/breadcrumb.scss" %}{% endcss %}
  {%- css "critical" %}{% renderFile "src/assets/sass/components/photos.scss" %}{% endcss %}

  {% from "macros/meta.njk" import meta %}

  <article>
    <nav aria-label="Breadcrumb" class="breadcrumb">
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="/blog/">Blog</a></li>
      </ol>
    </nav>
    <h1>{{ title }}</h1>
    {{ meta(page) }}
    <p>{{ content | safe }}</p>
  </article>

  {% set pageUrl = page.url %}
  {% include "components/webmentions.njk" %}
{% endblock %}
