{% extends "./base.njk" %}

{% block opengraphimage %}
{% endblock %}

{% block content %}
  {% set breadcrumb = collections.all | breadcrumb(page.url) %}
  {% include 'components/json-ld/breadcrumb.njk' %}

  <div class="tag">
    <div class="header">
      {% include 'components/breadcrumb.njk' %}
      <h1 data-pagefind-meta="title" data-pagefind-body data-pagefind-filter="00. Page type:Gear brand">{{ title }}</h1>
    </div>
    <div data-pagefind-body>
    {{ content | safe }}
    </div>
  </div>
{% endblock %}
