{% extends "./base.njk" %}

{% block opengraphimage %}
  <meta property="og:image" content="{{ site.opengraph.prefix }}/{{ site.opengraph.title.top.before }}:{{ title | clean4cloudinary }}/{{ site.opengraph.title.top.after }}/l_fetch:{{ "https://nicolas-hoizey.photo/ui/images/feed.png" | base64 }},w_200,h_200,c_fit/fl_layer_apply,g_south_west,y_288,x_723/{{ site.opengraph.background }}" />
{% endblock %}

{% block content %}
  {% from "macros/meta.njk" import meta %}

  <article>
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
    </ol>
    <h1>{{ title }}</h1>
    {{ content | safe }}
  </article>
{% endblock %}
