---
layout: page
---

{% from "macros/photo.njk" import photo %}

{% set breadcrumb = collections.galleries | breadcrumb(page.url) %}

<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  {% for item in breadcrumb %}
    <li><a href="{{ item.url }}">{{ item.data.title }}</a></li>
  {% endfor %}
</ul>

<h1>{{ title }}</h1>

{{ content | safe }}

{% from "macros/css.njk" import css %}
{{ css('components/galleries', build.env) }}

{% set sub_galleries = collections.galleries | sub_galleries(page.url) %}
{% if sub_galleries | length %}
  <ul class="galleries">
    {% for item in sub_galleries %}
      {% set photos_below = collections.photos_in_galleries | photos_here_and_below(item.url) | featured(4) %}
      {% if photos_below | length %}
        <li>
          <figure>
            <div class="frame">
              <div class="diaporama diaporama__{{ photos_below | length }}">
                {% for photo in photos_below %}
                  <img src="/photos/{{ photo.data.page.fileSlug }}/{{ photo.data.page.fileSlug }}.jpg" alt="" width="{{ photo.data.origin.data.dimensions.width }}" height="{{ photo.data.origin.data.dimensions.width }}" data-responsiver="diaporama" />
                {% endfor %}
              </div>
            </div>
            <figcaption><a href="{{ item.url }}" class="icon icon--folder">{{ item.data.title }}</a></figcaption>
          </figure>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}

{% set photos_here = collections.photos_in_galleries | photos_here(page.url) %}
{% if photos_here | length %}

  {% from "macros/css.njk" import css %}
  {{ css('components/gallery', build.env) }}

  <section>
    <h2>Photos</h2>
    <ul class="gallery">
      {% for item in photos_here %}
        {{ photo(item) }}
      {% endfor %}
    </ul>
  </section>
{% endif %}

{#
{% set photos_below = collections.photos_in_galleries | photos_below(page.url) %}
{% if photos_below | length %}
  <h2>Latest photos in sub galleries</h2>
  <ul class="gallery">
    {% for item in photos_below %}
      <figure>
        <a href="{{ item.url }}">
          <img src="{{ item.url }}{{ item.data.photo }}" alt="{{ item.data.title }}" />
          <figcaption>{{ item.data.title }}</figcaption>
        </a>
      </figure>
    {% endfor %}
  </ul>
{% endif %}
#}
