---
layout: page
---

{{ content | safe }}

{% set sub_galleries = collections.galleries | sub_galleries(page.url) %}

{% if sub_galleries | length %}

<h2>Galleries</h2>

<ul>
  {% for item in sub_galleries %}
    <li><a href="{{ item.url }}">{{ item.data.title }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% set photos_here = collections.photos | photos_here(page.url) %}
{% if photos_here | length %}
  <div class="gallery">
    {% for item in photos_here %}
      <figure>
        <a href="{{ item.url }}">
          <img src="{{ item.url }}{{ item.data.photo }}" alt="{{ item.data.title }}" />
          <figcaption>{{ item.data.title }}</figcaption>
        </a>
      </figure>
    {% endfor %}
  </div>
{% endif %}

{% set photos_below = collections.photos | photos_below(page.url) %}
{% if photos_below | length %}
  <div class="gallery">
    {% for item in photos_below %}
      <figure>
        <a href="{{ item.url }}">
          <img src="{{ item.url }}{{ item.data.photo }}" alt="{{ item.data.title }}" />
          <figcaption>{{ item.data.title }}</figcaption>
        </a>
      </figure>
    {% endfor %}
  </div>
{% endif %}
