---
layout: page
---

{{ page.url }}

{% from "macros/photo.njk" import photo %}

{% set breadcrumb = collections.galleries | breadcrumb(page.url) %}
<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  {% for item in breadcrumb %}
    <li><a href="{{ item.url }}">{{ item.data.title }}</a></li>
  {% endfor %}
</ul>

<h1>{{ title }}</h1>

{{ content | safe }}

{% set sub_galleries = collections.galleries | sub_galleries(page.url) %}
{% if sub_galleries | length %}
  <ul class="galleries">
    {% for item in sub_galleries %}
      <li>
        <figure>
          {% set photos_below = collections.photos | photos_here_and_below(item.url) | shuffle | limit(3) %}
          {% if photos_below | length %}
            {% for photo in photos_below %}
              <img src="{{ photo.url }}{{ photo.data.photo }}" alt="" />
            {% endfor %}
          {% endif %}
          <figcaption><a href="{{ item.url }}" class="icon icon--folder">{{ item.data.title }}</a></figcaption>
        </figure>
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% set photos_here = collections.photos | photos_here(page.url) %}
{% if photos_here | length %}
  <h2>Latest photos in this gallery</h2>
  <ul class="gallery">
    {% for item in photos_here %}
      {{ photo(item) }}
    {% endfor %}
  </ul>
{% endif %}
{#
{% set photos_below = collections.photos | photos_below(page.url) %}
{% if photos_below | length %}
  <h2>Latest photos in sub galleries</h2>
  <ul class="gallery">
    {% for item in photos_below %}
      <figure>
        <a href="{{ item.url }}">
          <img src="{{ item.url }}{{ item.data.photo }}" alt="{{ item.data.title }}" />
          <figcaption>{{ item.data.title }}</figcaption>
        </a>
      </figure>
    {% endfor %}
  </ul>
{% endif %}
#}
