{% extends "./base.njk" %}

{% from "macros/css.njk" import css %}

{% block opengraphimage %}
  {% set opengraphFile = 'src' + page.filePathStem | dirname + '/opengraph.jpg' %}
  {% if opengraphFile | exists %}
  <meta property="og:image" content="{{ site.url }}{{ page.filePathStem | dirname }}/opengraph.jpg" />
  {% endif %}
{% endblock %}

{% block content %}
  {% from "macros/photo.njk" import photo %}

  {% set breadcrumb = collections.photo_galleries | breadcrumb(page.url) %}
  {% include 'components/json-ld/breadcrumb.njk' %}
  {% include 'components/breadcrumb.njk' %}

  {% if flag %}
    {{ css('components/flag', build.env) }}
    {% flagSvg flag %}
  {% endif %}
  <h1>{{ title }}</h1>

  <div class="gallery__content">
    {{ content | safe }}
  </div>

  {% if page.url== '/' %}
    {% set gallery_root = '/galleries/' %}
  {% else %}
    {% set gallery_root = page.url %}
  {% endif %}

  {% set sub_galleries = collections.photo_galleries | sub_galleries(gallery_root) %}
  {% set sub_galleries_number = sub_galleries | length %}

  {{ css('components/photos_sort', build.env) }}
  <div class="segmented">
    <p class="label">Sort photos:</p>
    <ul>
      {% if sub_galleries_number > 0 %}
        <li><span class="current">in galleries</span></li>
        <li><a href="./by-date/">by date</a></li>
      {% else %}
        <li><span class="disabled">in galleries</span></li>
        <li><span class="current">by date</span></li>
      {% endif %}
      {# <li><a href="{{ page.filePathStem | dirname }}/popularity/">by popularity</a></li> #}
    </ul>
  </div>

  {% if sub_galleries_number > 0 %}
    {{ css('components/gallery_content', build.env) }}
    {% include 'components/sub-galleries.njk' %}
  {% endif %}

  {% set photos_here = collections.photos_in_galleries | photos_here(page.url) %}
  {% if photos_here | length %}

    {{ css('components/photos', build.env) }}

    <section>
      <h2>Photos</h2>
      <ul class="photos">
        {% for item in photos_here %}
          {% if loop.index < 4 %}
            <li>{{ photo(item, "eager", build.env) }}</li>
          {% else %}
            <li>{{ photo(item, "lazy", build.env) }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    </section>
  {% endif %}

{% endblock %}
