{% extends "./base.njk" %}

{% block opengraphimage %}
  {% set opengraphFile = 'src' + page.filePathStem | dirname + '/opengraph.jpg' %}
  {% if opengraphFile | exists %}
  <meta property="og:image" content="{{ site.url }}{{ page.filePathStem | dirname | replace('pages/', '') }}/opengraph.jpg" />
  {% endif %}
{% endblock %}

{% block content %}
  {% from "macros/photo.njk" import photo %}

  {% set breadcrumb = collections.photo_galleries | breadcrumb(page.url) %}
  {% include 'components/json-ld/breadcrumb.njk' %}
  {% include 'components/breadcrumb.njk' %}

  {% if flag %}
    {%- css "critical" %}{% renderFile "src/assets/sass/components/flag.scss" %}{% endcss %}
    {% flagSvg flag %}
  {% endif %}
  <h1 data-pagefind-meta="title" data-pagefind-body data-pagefind-filter="00. Page type:Gallery">{{ title }}</h1>

  {%- css "critical" %}{% renderFile "src/assets/sass/components/gallery_content.scss" %}{% endcss %}
  <div class="gallery__content" data-pagefind-body>
    {{ content | safe }}
  </div>

  {% if page.url == '/' %}
    {% set gallery_root = '/galleries/' %}
  {% else %}
    {% set gallery_root = page.url %}
  {% endif %}

  {% set sub_galleries = collections.photo_galleries | sub_galleries(gallery_root) %}
  {% if '/exhibitions' in gallery_root %}
    {% set sub_galleries = sub_galleries | reverse %}
  {% endif %}

  {% set sub_galleries_number = sub_galleries | length %}

  {% if not ('/exhibitions' in gallery_root) %}
    {%- css "critical" %}{% renderFile "src/assets/sass/components/photos_sort.scss" %}{% endcss %}
    <div class="photos_sort">
      <p class="label">Sort photos:</p>
      <ul>
        {% if sub_galleries_number > 0 %}
          <li><span class="current">in galleries</span></li>
          <li><a href="./oldest-first/">oldest first</a></li>
        {% else %}
          <li><span class="disabled">in galleries</span></li>
          <li><span class="current">oldest first</span></li>
        {% endif %}
        <li><a href="./newest-first/">newest first</a></li>
        <li><a href="./by-popularity/">by popularity</a></li>
      </ul>
    </div>
  {% endif %}

  {% if sub_galleries_number > 0 %}
    {# https://mamot.fr/@nhoizey/113374779561108401 #}
    <style>{% renderFile "src/assets/sass/components/sub_galleries.scss" %}</style>
    {% include 'components/sub_galleries.njk' %}
  {% endif %}

  {% set photos_here = collections.photos_in_galleries | photos_here(page.url) %}
  {% if photos_here | length %}

    {%- css "critical" %}{% renderFile "src/assets/sass/components/photos.scss" %}{% endcss %}

    <section>
      <h2>Photos</h2>
      <ul class="photos">
        {% for item in photos_here %}
          {% if loop.index < 4 %}
            {{ photo(item, "eager", build.env) }}
          {% else %}
            {{ photo(item, "lazy", build.env) }}
          {% endif %}
        {% endfor %}
      </ul>
    </section>
  {% endif %}

{% endblock %}
