{% extends "./base.njk" %}

{% from "macros/css.njk" import css %}

{% block opengraphimage %}
  {% set opengraphFile = 'src' + page.filePathStem | dirname + '/opengraph.jpg' %}
  {% if opengraphFile | exists %}
  <meta property="og:image" content="{{ site.url }}{{ page.filePathStem | dirname }}/opengraph.jpg" />
  {% endif %}
{% endblock %}

{% block content %}
  {% from "macros/photo.njk" import photo %}

  {% set breadcrumb = collections.photo_galleries | breadcrumb(page.url) %}
  {% include 'components/json-ld/breadcrumb.njk' %}
  {% include 'components/breadcrumb.njk' %}

  <h1 class="page__title">{{ title }}</h1>

  {% if flag %}
    {{ css('components/flag', build.env) }}
    {% flagSvg flag %}
  {% endif %}

  {{ content | safe }}

  {% include 'components/sub-galleries.njk' %}

  {% set photos_here = collections.photos_in_galleries | photos_here(page.url) %}
  {% if photos_here | length %}

    {{ css('components/gallery', build.env) }}

    <section>
      <h2>Photos</h2>
      <ul class="gallery">
        {% for item in photos_here %}
          {% if loop.index < 4 %}
            <li>{{ photo(item, "eager") }}</li>
          {% else %}
            <li>{{ photo(item, "lazy") }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    </section>
  {% endif %}

{% endblock %}
