---
layout: page
---

<div class="map">
  <div class="header">
    {% include 'components/breadcrumb.njk' %}
    <h1>{{ title }}</h1>
  </div>

  {{ content | safe }}

  {% from "macros/css.njk" import css %}
  {{ css('components/map', build.env) }}

  <div id="map">
    <noscript>
      <p>You need JavaScript to see this map.</p>
    </noscript>
  </div>

  <p class="icon icon--download"><a href="/map/photos.kml">Download the KML file for Google Earth</a>.</p>
</div>

{% if build.env == 'production' %}
  <script defer type="module" src="/ui/js/{{ hashes_map['assets/js/map.js']}}"></script>
{% else %}
  <script defer type="module" src="/ui/js/map-es.js"></script>
{% endif %}
