---
layout: page
---

{% if origin %}
  {% set dimensions = origin.data.dimensions %}
  {% set gear = origin.data.gear %}
  {% set settings = origin.data.settings %}
  {% set geo = origin.data.geo %}
  {% set content = content or origin.content %}
  {% set tags = origin.data.tags %}
{% endif %}

{% from "macros/css.njk" import css %}
{{ css('components/photo', build.env) }}

<div class="photo{% if dimensions.width < dimensions.height %} portrait{% endif %}" style="--ratio: {{ dimensions.width / dimensions.height }}">
  <header>
    {% set breadcrumb = collections.galleries | breadcrumb(page.url) %}
    <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      {% for item in breadcrumb %}
        <li><a href="{{ item.url }}">{{ item.data.title }}</a></li>
      {% endfor %}
    </ul>
    <h1>{{ title }}</h1>
  </header>

  <img src="/photos/{{ page.fileSlug }}/{{ page.fileSlug }}.jpg" class="image" alt="{{ title }}" width="{{ dimensions.width }}" height="{{ dimensions.height }}" />

  <div class="description">
    {{ content | safe }}
  </div>

  <div class="meta">
    <ul class="exif">
      <li class="date icon icon--date"><time class="dt-published" datetime="{{ date | date("YYYY-MM-DD") }}">{{ date | date("Do MMMM YYYY") }}</time></li>
      <li class="gear icon icon--camera">{{ gear.make }} {{ gear.model }}</li>
      {% if settings.focal_length or gear.lens %}
        <li class="lens icon icon--focal-length">
          {% if gear.lens %}{{ gear.lens }}<br />{% endif %}
          {{ settings.focal_length }} mm
          {% if settings.focal_length_35mm %} (eq {{ settings.focal_length_35mm }} mm){% endif %}
        </li>
      {% endif %}
      {% if settings.iso %}<li class="iso icon icon--iso"><span>ISO {{ settings.iso }}</span></li>{% endif %}
      {% if settings.aperture %}<li class="aperture icon icon--aperture"><span>ƒ/{{ settings.aperture }}</span></li>{% endif %}
      {% if settings.shutter_speed %}<li class="shutter_speed icon icon--shutter_speed"><span>{{ settings.shutter_speed }} s</span></li>{% endif %}
    </ul>
    <div class="geo">
      {% if geo.latitude and geo.longitude %}

        {% from "macros/css.njk" import css %}
        {{ css('components/photo-map', build.env) }}

        <div id="map" data-latitude="{{ geo.latitude }}" data-longitude="{{ geo.longitude }}">
          <noscript>
            <img src="https://api.mapbox.com/styles/v1/mapbox/outdoors-v11/static/url-https%3A%2F%2Fnicolas-hoizey.photo%2Fui%2Fimages%2Fmarker.png({{ geo.longitude }}%2C{{ geo.latitude }})/{{ geo.longitude }},{{ geo.latitude }},5/300x200?access_token={{ env.MAPBOX_ACCESS_TOKEN }}" crossorigin="anonymous" width="300" height="200" />
          </noscript>
        </div>
        {% if geo.city and geo.country %}<p>{{ geo.city }}, {{ geo.country }}</p>{% endif %}
      {% endif %}
    </div>
  </div>
  {% if tags %}<p class="tags icon icon--tag">{{ tags | join(", ") }}</p>{% endif %}
</div>

{#
Load Mapbox only in modern browsers
https://web.dev/publish-modern-javascript/#rollup
#}
{% if geo.latitude and geo.longitude %}
  {% if build.env == 'production' %}
    <script defer type="module" src="/ui/js/{{ hashes_photo['assets/js/photo.js']}}"></script>
  {% else %}
    <script defer type="module" src="/ui/js/photo-es.js"></script>
  {% endif %}
{% endif %}
