{% extends "./base.njk" %}

{% if origin %}
  {% set dimensions = origin.data.dimensions %}
  {% set gear = origin.data.gear %}
  {% set settings = origin.data.settings %}
  {% set geo = origin.data.geo %}
  {% set content = content or origin.content %}
  {% set tags = origin.data.tags %}
{% endif %}

{% block description %}
  <meta name="description" property="og:description" content="{{ content | markdownify | excerpt | striptags | safe }}" />
{% endblock %}

{% block styles %}
  style="background-color: rgb({{ origin.data.colors.darkMuted }} / 50%)"
{% endblock %}

{% block opengraphimage %}
{% set photoUrl = 'https://nicolas-hoizey.photo/photos/' + page.fileSlug + '/' + page.fileSlug + '.jpg' %}
{% if dimensions.width < dimensions.height %}
  {% set position = 'x_128' %}
{% else %}
  {% set position = 'x_48' %}
{% endif %}
<meta property="og:image" content="https://res.cloudinary.com/nho/image/upload/w_1200,h_630,c_fill,q_auto,f_auto/w_500,c_fit,co_rgb:f7f5fa,l_text:Roboto%20Condensed_50:{{ title }}/fl_layer_apply,g_south_west,y_384,{{ position }}/{% if geo.city and geo.country %}w_500,c_fit,co_rgb:bda7d3,l_text:Roboto%20Condensed_30:Shot in {{ geo.city }}%252C {{ geo.country }}/fl_layer_apply,g_south_west,y_288,{{ position }}/{% endif %}l_fetch:{{ photoUrl | base64 }},w_600,h_408,c_fit,bo_1px_solid_black,bo_2px_solid_white/fl_layer_apply,g_north_east,y_48,{{ position }}/resources/nho-photo-opengraph-background" />
{% endblock %}

{% block content %}
  {% from "macros/css.njk" import css %}
  {{ css('components/photo', build.env) }}

  {% set breadcrumb = collections.galleries | breadcrumb(page.url) %}

  {% include 'components/json-ld/breadcrumb.njk' %}

  <div class="photo{% if dimensions.width < dimensions.height %} portrait{% endif %}" style="--ratio: {{ dimensions.width / dimensions.height }}">
    <div class="header">
      {% include 'components/breadcrumb.njk' %}
      <h1>{{ title }}</h1>
    </div>

    <img
      src="/photos/{{ page.fileSlug }}/{{ page.fileSlug }}.jpg"
      class="image"
      alt="{{ title }}"
      width="{{ dimensions.width }}"
      height="{{ dimensions.height }}"
      style="background-color: rgb({{ origin.data.colors.muted }} / 50%)"
      importance="high"
    />

    <div class="description">
      {{ content | markdownify | safe }}
    </div>

    <div class="meta">
      <ul class="exif">
        <li class="date icon icon--date"><time class="dt-published" datetime="{{ date | date("YYYY-MM-DD") }}">{{ date | date("Do MMMM YYYY") }}</time></li>
        <li class="gear icon icon--camera">{{ gear.make }} {{ gear.model }}</li>
        {% if settings.focal_length or gear.lens %}
          <li class="lens icon icon--focal_length">
            {% if gear.lens %}{{ gear.lens }}<br />{% endif %}
            {{ settings.focal_length }} mm
            {% if settings.focal_length_35mm %} (eq {{ settings.focal_length_35mm }} mm){% endif %}
          </li>
        {% endif %}
        {% if settings.iso %}<li class="iso icon icon--iso"><span>ISO {{ settings.iso }}</span></li>{% endif %}
        {% if settings.aperture %}<li class="aperture icon icon--aperture"><span>ƒ/{{ settings.aperture }}</span></li>{% endif %}
        {% if settings.shutter_speed %}<li class="shutter_speed icon icon--shutter_speed"><span>{{ settings.shutter_speed }} s</span></li>{% endif %}
      </ul>
      <div class="geo">
        {% if geo.latitude and geo.longitude %}

          {% from "macros/css.njk" import css %}
          {{ css('components/photo-map', build.env) }}

          <div id="map">
            <img src="https://api.mapbox.com/styles/v1/{{ map.mapbox.style }}/static/{{ geo.longitude }},{{ geo.latitude }},4/300x200?access_token={{ env.MAPBOX_ACCESS_TOKEN }}" crossorigin="anonymous" width="300" height="200" alt="Map showing location of “{{ title }}”{% if geo.city and geo.country %} in {{ geo.city }}, {{ geo.country }}{% endif %}" data-responsiver="false" />
            <div class="marker-shadow"></div>
            <div class="marker"></div>
          </div>
          {% if geo.city and geo.country %}<p>{{ geo.city }}, {{ geo.country }}</p>{% endif %}
          <p class="locate icon icon--map">Locate it on the <a href="/map/#15/{{ geo.latitude }}/{{ geo.longitude }}">interactive global map</a></p>
        {% endif %}
      </div>
    </div>
    {% if tags %}
    <p class="tags icon icon--tag">
      {% set comma = joiner(", ") %}
      {%- for tag in tags -%}
        {{ comma() }}
        <a href="/tags/{{ tag | slugify }}/" rel="tag" class="p-category">{{ tag }}</a>
      {%- endfor -%}
    </p>
    {% endif %}
  </div>

  {#
  Load Mapbox only in modern browsers
  https://web.dev/publish-modern-javascript/#rollup
  #}
  {# {% if geo.latitude and geo.longitude %}
    {% if build.env == 'production' %}
      <script defer type="module" src="/ui/js/{{ hashes_photo['assets/js/photo.js']}}"></script>
    {% else %}
      <script defer type="module" src="/ui/js/photo-es.js"></script>
    {% endif %}
  {% endif %} #}
{% endblock %}
