---
layout: page
---

{{ content | safe }}

{% from "macros/photo.njk" import photo %}

<ul class="gallery">
  {% for item in collections.all_photos %}
    {% if loop.index < 4 %}
      {{ photo(item, "eager") }}
    {% else %}
      {{ photo(item, "lazy") }}
    {% endif %}
  {% endfor %}
</ul>
