{% extends "./base.njk" %}

{% block opengraphimage %}
{% endblock %}

{% block content %}
  {% set breadcrumb = collections.all | breadcrumb(page.url) %}
  {% include 'components/json-ld/breadcrumb.njk' %}

  <div class="tag">
    <div class="header">
      {% include 'components/breadcrumb.njk' %}
      <h1>{{ title }}</h1>
    </div>

    {{ content | safe }}
  </div>
{% endblock %}
