{% extends "./base.njk" %}

{% block styles %}
  style="--ambiant-background: {{ tag.colors.darkMuted }}"
{% endblock %}

{% block opengraphimage %}
  {% set photos = collections.photos_in_galleries | taggued(tag.tag) | featured(5) %}
  {# {% set photos_below = collections.photos_in_galleries | photos_here_and_below(page.url) | featured(5) %} #}
  <meta property="og:image" content="{{ site.opengraph.prefix }}/{{ site.opengraph.title.top.before }}:{{ title | clean4cloudinary }}/{{ site.opengraph.title.top.after }}{%- for item in photos -%}/l_fetch:{%- set url = site.url + '/photos/' + item.page.fileSlug + '/' + item.page.fileSlug + '.jpg' -%}{{ url | base64 }},w_200,h_133,c_fill,bo_2px_solid_white/fl_layer_apply,g_south_west,y_288,x_{{ 48 + (loop.index - 1) * 225 }}{%- endfor -%}/{{ site.opengraph.background }}" />
{% endblock %}

{% block content %}
  {% set gallery_url = page.url | replace('newest-first/', '') | replace('by-popularity/', '') %}

  {% set breadcrumb = collections.all | breadcrumb(gallery_url) %}
  {% include 'components/json-ld/breadcrumb.njk' %}

  <div class="tag" style="--ambiant-foreground: {{ tag.colors.lightVibrant }}">
    <div class="header">
      {% include 'components/breadcrumb.njk' %}
      <h1>{{ title }}</h1>
    </div>

    {{ content | safe }}
  </div>
{% endblock %}
