---
permalink: map/photos.geojson
layout: null
eleventyExcludeFromCollections: true
---
{
  "type": "FeatureCollection",
  "features": [
{%- for item in collections.photos_for_map %}
    {
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": [{{ item.data.origin.data.geo.longitude }}, {{ item.data.origin.data.geo.latitude }}]
      },
      "properties": {
        "slug": "{{ item.fileSlug }}",
        "title": "{{ item.data.title }}",
        "image": "{{ site.url }}/images/200/photos/{{ item.fileSlug }}/{{ item.fileSlug }}.jpg",
        "width": "{{ item.data.origin.data.dimensions.width }}",
        "height": "{{ item.data.origin.data.dimensions.height }}",
        "url": "{{ item.url }}"
      }
    }{%- if not loop.last -%},{%- endif -%}
{% endfor %}
  ]
}
