---
pagination:
  data: collections.photo_galleries
  size: 1
  alias: gallery
  filter:
    - all
  addAllPagesToCollections: false
layout: false
eleventyComputed:
  title: opengraph image for “{{ gallery.data.title }}”
permalink: "{{ gallery.filePathStem | dirname | replace('/pages', '') }}/opengraph.html"
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <title>Opengraph image for “{{ gallery.data.title }}”</title>
    {% renderFile "src/assets/sass/components/opengraph.scss" %}
    <style>
      .title h1 {
        {% set titleLength = gallery.data.title | length %}
        --adaptive-font: {{ 55 - titleLength / 8 }}px;
      }
    </style>
  </head>

  <body>
    <div id="opengraph" class="gallery">
      <div class="meta">
        <div class="title">
          {% set breadcrumb = collections.photo_galleries | breadcrumb(gallery.url) %}
          {% include 'components/breadcrumb.njk' %}
          <h1>{{ gallery.data.title }}</h1>
        </div>
        <img class="logo" src="/ui/logo.svg" alt="Nicolas Hoizey photography" />
      </div>
      <div class="content">
        {% set photos_below = collections.photos_in_galleries | photos_here_and_below(gallery.url) | featured(9) %}
        {% set nb = photos_below | length %}
        <div class="gallery gallery_{{ nb }}">
        {% for photo in photos_below %}
          <div class="frame">
            <img class="photo" src="/photos/{{ photo.page.fileSlug }}/small.jpg" width="900" height="600" data-responsiver="false" />
          </div>
        {% endfor %}
        </div>

      </div>
    </div>
  </body>
</html>
