@use '../variables' as *;
@use '../tokens/spaces';
@use '../tokens/colors';

/* ********************************************
* META
* ********************************************/

.meta {
  padding-inline-start: 0;

  font-size: var(--step--1);
  color: colors.$meta;

  display: flex;
  flex-wrap: wrap;
  gap: 0 spaces.$m;

  list-style-type: none;
}

.meta__item {
  a:link,
  a:visited {
    color: colors.$theme-lighter-1;
    text-decoration-color: colors.$theme-lighter-2;
    text-decoration-thickness: 1px;
    padding: 0.2em 0.1em;
  }
}

.meta__date {
  white-space: nowrap;
}
