@use '../variables' as *;
@use '../tokens/space';

/* ********************************************
* META
* ********************************************/

.meta {
  padding-left: 0;

  font-size: var(--step--1);
  color: $color-meta;

  display: flex;
  flex-wrap: wrap;
  gap: 0 space.$m;

  list-style-type: none;
}

.meta__item {
  a:link,
  a:visited {
    color: $color-theme-lighter-1;
    text-decoration-color: $color-theme-lighter-2;
    text-decoration-thickness: 1px;
    padding: 0.2em 0.1em;
  }
}

.meta__date {
  white-space: nowrap;
}
