@use '../variables' as *;
@use '../every_layout/stack';

.blog {
  list-style: none;
  padding: 0;
}

.blog__item + .blog__item {
  margin-top: $gap * 2;
}

.blog__title {
  font-size: var(--step-1);
  margin: 0;
}

.blog__meta {
  margin: 0;
  font-size: 0.9em;
  color: #999;
}

.blog__text {
  margin-top: $gap / 2;
}
