@use '../variables' as *;
// @use '../every_layout/stack';
@use 'sass:math';

.blog {
  list-style: none;
  padding: 0;
}

.blog__item + .blog__item {
  margin-block-start: $gap * 2;
}

.blog__title {
  margin: 0;
}

.blog__meta {
  margin: 0;
  font-size: 0.9em;
  color: #999;
}

.blog__text {
  margin-block-start: math.div($gap, 2);
}
