@use '../variables' as *;
@use '../tokens/spaces';
@use '../tokens/breakpoints';

.flag {
  display: block;
  width: 50%;
  height: auto;

  margin: spaces.$m auto;

  @media (min-width: breakpoints.$s) {
    width: 30%;
    max-width: 15rem;

    float: right;
    margin: 0 0 spaces.$l spaces.$l;
  }
}
