@use '../variables' as *;

footer {
  padding: var(--space-s);

  @media (min-width: $breakpoint-m) {
    padding-left: var(--space-xl);
    padding-right: var(--space-xl);
  }

  margin-top: var(--space-xl);
  font-size: var(--step--1);

  display: grid;
  column-gap: var(--space-xl);
  row-gap: var(--space-l);
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

  color: $color-theme-lighter-2;

  ul {
    padding: 0;
    list-style: none;
  }

  a:link,
  a:visited {
    color: $color-theme-lighter-4;
    text-decoration-thickness: 1px;
  }

  a:hover,
  a:focus {
    color: $color-theme-lighter-5;
    text-decoration-color: $color-theme-lighter-2;
  }
}
