@use '../variables' as *;
@use '../tokens/space';

footer {
  margin-top: space.$xl;
  padding: space.$m;
  font-size: var(--step-0);

  @media (min-width: $breakpoint-m) {
    padding-left: space.$xxl;
    padding-right: space.$xxl;
  }

  display: grid;
  column-gap: space.$xxl;
  row-gap: space.$xl;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

  color: $color-theme-lighter-3;

  ul {
    padding: 0;
    list-style: none;
  }

  a:link,
  a:visited {
    color: $color-theme-lighter-4;
    text-decoration-thickness: 1px;
  }

  a:hover,
  a:focus {
    color: $color-theme-lighter-5;
    text-decoration-color: $color-theme-lighter-2;
  }

  .icon {
    background-size: 1.1em 1.1em;
  }
}
