@use '../variables' as *;

/* ********************************************
* GALLERY
* ********************************************/

.gallery {
  list-style: none;
  padding-left: 0;

  display: grid;
  column-gap: var(--space-2xl);
  row-gap: var(--space-xl);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr));

  align-items: end;

  li {
    max-width: 20rem;
  }

  .portrait {
    width: 66%;
  }
}
