@use '../variables' as *;
@use '../tokens/space';

/* ********************************************
* GALLERY
* ********************************************/

.gallery {
  list-style: none;
  padding-left: 0;

  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, min(100%, 20rem));

  align-items: start;

  .portrait {
    width: 66%;
  }
}
