@use '../variables' as *;
@use '../tokens/spaces';

/* ********************************************
* GALLERY
* ********************************************/

.gallery {
  clear: both;

  margin: spaces.$xl 0;
  padding-inline-start: 0;

  list-style: none;

  display: grid;
  gap: spaces.$xxxl spaces.$xl;
  grid-template-columns: repeat(auto-fit, min(100%, 20rem));

  align-items: start;

  .portrait {
    width: calc(20rem / 3 * 2 / 3 * 2);
    height: calc(20rem / 3 * 2);
  }
}
