@use '../variables' as *;
@use '../tokens/space';

/* ********************************************
* GALLERIES
* ********************************************/

.galleries {
  list-style: none;
  padding-left: 0;

  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, min(100%, 15rem));

  align-items: end;

  .diaporama {
    position: relative;
    overflow: hidden;

    > img {
      position: absolute;
      top: 1px;
      left: 1px;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
    }

    &::before {
      content: '';
      display: block;
      padding-bottom: 66.666%;
    }
  }

  .diaporama_2,
  .diaporama_3,
  .diaporama_4 {
    img {
      opacity: 0;
      object-fit: cover;
      transform-origin: 50% 50%;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }

  .diaporama_2 {
    img {
      animation-name: fade_2;
      animation-duration: $diaporama-timing * 2;
    }

    img:nth-of-type(2) {
      animation-delay: $diaporama-timing;
    }
  }

  .diaporama_3 {
    img {
      animation-name: fade_3;
      animation-duration: $diaporama-timing * 3;
    }

    img:nth-of-type(2) {
      animation-delay: $diaporama-timing;
    }

    img:nth-of-type(3) {
      animation-delay: $diaporama-timing * 2;
    }
  }

  .diaporama_4 {
    img {
      animation-name: fade_4;
      animation-duration: $diaporama-timing * 4;
    }

    img:nth-of-type(2) {
      animation-delay: $diaporama-timing;
    }

    img:nth-of-type(3) {
      animation-delay: $diaporama-timing * 2;
    }

    img:nth-of-type(4) {
      animation-delay: $diaporama-timing * 3;
    }
  }
}

@keyframes fade_2 {
  0% {
    opacity: 0;
    transform: scale($diaporama-scale)
      translate(var(--pan-x-start), var(--pan-y-start));
  }

  20% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  70% {
    opacity: 0;
    transform: scale(1) translate(0, 0);
  }

  100% {
    opacity: 0;
    transform: scale($diaporama-scale)
      translate(var(--pan-x-start), var(--pan-y-start));
  }
}

@keyframes fade_3 {
  0% {
    opacity: 0;
    transform: scale($diaporama-scale)
      translate(var(--pan-x-start), var(--pan-y-start));
  }

  13.33% {
    opacity: 1;
  }

  33.33% {
    opacity: 1;
  }

  46.66% {
    opacity: 0;
    transform: scale(1) translate(0, 0);
  }

  100% {
    opacity: 0;
    transform: scale($diaporama-scale)
      translate(var(--pan-x-start), var(--pan-y-start));
  }
}

@keyframes fade_4 {
  0% {
    opacity: 0;
    transform: scale($diaporama-scale)
      translate(var(--pan-x-start), var(--pan-y-start));
  }

  10% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  35% {
    opacity: 0;
    transform: scale(1) translate(0, 0);
  }

  100% {
    opacity: 0;
    transform: scale($diaporama-scale)
      translate(var(--pan-x-start), var(--pan-y-start));
  }
}
