@use '../variables' as *;

/* ********************************************
* LOGO
* ********************************************/

.logo {
  font-family: Coniferous, cursive, sans-serif;
  font-size: clamp(1.2rem, 1rem + 5vw, 3rem);
  line-height: 1;
  vertical-align: baseline;

  h1,
  a {
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1;

    @media (min-width: $breakpoint-m) {
      display: grid;
      grid-template-areas:
        'n'
        'h'
        'p';
      grid-template-columns: 1fr;
      gap: 0;
      align-items: end;
      justify-items: center;
    }
  }

  a:link,
  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: $color-logo-1;
  }

  .n {
    grid-area: n;

    font-weight: 200;
    color: $color-logo-1;

    @media (min-width: $breakpoint-m) {
      font-size: 1.35em;
    }
  }

  .h {
    grid-area: h;

    font-weight: 700;
    color: $color-logo-1;
  }

  .p {
    grid-area: p;

    @media (min-width: $breakpoint-m) {
      font-size: 0.8em;
    }

    font-weight: 200;
    color: $color-logo-2;
  }
}
