@use '../variables' as *;

/* ********************************************
* LOGO
* ********************************************/

.logo {
  h1,
  a {
    display: block;
    margin: 0;
    padding: 0;

    font-family: serif; // prevents loading of the web font just for that
    font-size: 1em;
    line-height: 1;
  }

  a:hover,
  a:focus,
  a:active {
    background-color: $color-theme-lighter-5;
  }

  img {
    width: var(--logo-wide);
    height: calc(var(--logo-wide) / 9);
    aspect-ratio: 9 / 1;

    @media (min-width: $breakpoint-m) {
      width: var(--logo-square);
      height: var(--logo-square);
      aspect-ratio: 1 / 1;
    }
  }
}
