@use '../variables' as *;
@use '../../../node_modules/mapbox-gl/dist/mapbox-gl.css';

#map {
  width: 100%;
  height: 70vh;

  .mapboxgl-popup {
    width: 220px;
  }

  .mapboxgl-popup-content {
    background-color: $color-surface;
    width: calc(200px + 2 + 2 * var(--space-3xs));

    img {
      border: 1px solid #fff;
    }
  }

  .mapboxgl-popup-photos {
    padding: var(--space-3xs);
    max-height: 300px;
    overflow-y: scroll;

    p {
      margin-block-start: 0;
    }

    p + p {
      margin-block-start: var(--space-xs);
    }
  }

  .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: $color-surface;
  }

  .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: $color-surface;
  }

  .mapboxgl-popup-anchor-bottom-left,
  .mapboxgl-popup-anchor-bottom-right,
  .mapboxgl-popup-anchor-bottom {
    .mapboxgl-popup-tip {
      border-top-color: $color-surface;
    }
  }

  .mapboxgl-popup-anchor-top-left,
  .mapboxgl-popup-anchor-top-right,
  .mapboxgl-popup-anchor-top {
    .mapboxgl-popup-tip {
      border-bottom-color: $color-surface;
    }
  }

  .mapboxgl-popup-close-button {
    padding: 0;
    line-height: 1;
    right: 1px;
    top: -3px;
    font-size: 14px;
    color: #ffffff;
  }
}
