@use '../variables' as *;

nav {
  ul {
    color: white;
    list-style: none;
    margin: 0;
    padding-left: 0;

    font-size: var(--step-0);

    ul {
      color: $color-theme-lighter-3;
      font-size: var(--step--1);
    }
  }

  a:link,
  a:visited {
    display: inline-block;
    color: currentColor;
    text-decoration-line: underline;
    text-decoration-color: $color-header;
    text-decoration-thickness: 2px;
  }

  a:hover,
  a:focus,
  a:active {
    color: $color-theme-lighter-3;
    // text-decoration-line: underline;
    text-decoration-color: $color-theme-lighter-3;
  }

  .current {
    > a:link,
    > a:visited {
      // text-decoration-line: underline;
      text-decoration-color: $color-theme-lighter-2;
    }
  }
}
