@use '../variables' as *;

nav {
  flex-grow: 1;

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;

    display: flex;
    gap: $gap;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: flex-end;

    @media (min-width: $breakpoint-m) {
      flex-direction: column;
      gap: $gap / 2;
      margin-left: $gap;
    }
  }

  a:link,
  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration-line: underline;
    text-decoration-color: $color-link;
    text-decoration-thickness: 3px;
  }

  .current {
    a:link,
    a:visited {
      text-decoration-line: underline;
      text-decoration-color: $color-theme;
      text-decoration-thickness: 3px;
    }

    a:hover {
      text-decoration-color: $color-link;
    }
  }
}
