@use '../variables' as *;

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/ui/fonts/RobotoCondensed-Regular.woff2) format('woff2');
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #f7f5fa;

  padding: 20px;

  font-family: 'Roboto Condensed', sans-serif;
}

#opengraph {
  margin: 0;
  padding: 0;

  width: 1200px;
  height: 630px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  gap: 0;

  background-color: $color-surface;
}

.meta {
  padding: 40px;
  height: 630px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;

  .gallery & {
    flex: 1;
  }
}

.title {
  flex: 1;

  h1 {
    margin: 40px 0;
    padding: 0;

    font-size: clamp(20px, var(--adaptive-font), 40px);
    font-weight: 400;
    line-height: 1.2;

    color: #fff;
  }
}

.logo {
  width: 120px;
  height: 120px;
}

.content {
  padding: 40px 40px 40px 0;

  flex-shrink: 0;
  flex-basis: auto;

  .photo & {
    flex-grow: 1;
  }

  display: flex;
  align-items: center;
  justify-content: center;
}

.photo {
  align-self: center;
}

.geo {
  font-size: 20px;
  color: #ddd;
  border-spacing: 4px 12px;

  td {
    vertical-align: top;
  }
}

svg.icon {
  width: 1.2em;
  height: 1.2em;
  vertical-align: sub;
  fill: none;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;

  * {
    vector-effect: non-scaling-stroke;
    stroke: currentColor;
  }
}

.frame {
  padding: 1px;
  background-color: black;
  border: 2px solid white;
}

.photo {
  .frame {
    img {
      display: block;
      max-width: 814px;
      max-height: 550px;
    }
  }
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 820px);
  gap: 20px;

  .frame {
    width: 820px;
    height: 549px;
  }

  &.gallery_2,
  &.gallery_3,
  &.gallery_4 {
    grid-template-columns: repeat(2, 385px);

    .frame {
      width: 385px;
      height: 258px;
    }
  }

  &.gallery_5,
  &.gallery_6,
  &.gallery_7,
  &.gallery_8,
  &.gallery_9 {
    grid-template-columns: repeat(3, 245px);

    .frame {
      width: 245px;
      height: 183px;
    }
  }

  .frame {
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

.breadcrumb {
  list-style: none;
  margin-block: 0;
  padding-inline-start: 0;
  font-size: 20px;
  color: $color-theme-lighter-4;

  li:first-child,
  li:nth-child(2) {
    display: none;
  }

  li:not(:nth-child(3)):before {
    content: '↳ ';
  }

  a:link,
  a:visited {
    color: $color-theme-lighter-3;
    text-decoration-line: none;
  }
}
