@use '../variables' as *;
// @use '../../../node_modules/mapbox-gl/dist/mapbox-gl.css';

#map {
  width: 300px;
  height: 200px;
  position: relative;
  background-color: #e4ecc2;

  img,
  canvas {
    border: none;
    background-color: transparent;

    width: 100% !important;
    height: auto !important;
  }

  .marker {
    background-image: url('/ui/images/marker.svg');
    background-size: cover;
    width: 24px;
    height: 24px;

    position: absolute;
    left: 138px;
    top: 88px;

    animation-name: marker-pulse;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .marker-shadow {
    background-color: transparent;
    width: 2px;
    height: 2px;
    border-radius: 50%;

    position: absolute;
    left: 149px;
    top: 108px;

    animation-name: marker-shadow-pulse;
    animation-duration: 1.4s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }
}

@keyframes marker-pulse {
  0% {
    margin-block-start: 0;
  }

  100% {
    margin-block-start: -24px;
  }
}

@keyframes marker-shadow-pulse {
  0% {
    box-shadow: 0 0 0 0 $color-theme;
    opacity: 0.5;
  }

  95% {
    box-shadow: 0 0 0 24px $color-theme;
    opacity: 0;
  }

  // hack just for Safari… 😭
  100% {
    box-shadow: 0 0 0 0 $color-theme;
    opacity: 0;
  }
}
