@use '../variables';
@use '../utilities';
@use '../tokens/colors';
@use 'sass:math';
@use 'sass:color';

.photos_sort {
  font-size: var(--step--1);

  display: inline-flex;
  gap: 0.3rem;
  align-items: center;

  ul {
    padding: 0.1rem;
    list-style: none;

    display: inline-flex;
    gap: 0.3rem;
    align-items: center;

    border-radius: 0.5rem;

    li {
      padding: 0.3rem;
      color: white;

      a,
      span {
        padding: 0.3rem 0.6rem;
        border-radius: 0.5rem;
        background-color: color.scale(colors.$surface, $lightness: 20%);
        box-shadow: inset 0.1em 0.1em 0 rgba(255, 255, 255, 0.2);
      }

      .current {
        background-color: colors.$brand-200;
        box-shadow: inset -0.1em -0.1em 0 rgba(255, 255, 255, 0.2);
      }

      .disabled {
        opacity: 0.5;
        text-decoration: line-through;
        cursor: not-allowed;
      }

      a {
        text-decoration: none;
      }

      a:hover,
      a:focus {
        background-color: color.scale(colors.$brand-200, $lightness: 10%);
        box-shadow: inset -0.1em -0.1em 0 rgba(255, 255, 255, 0.2);
      }
    }
  }
}
