@use '../variables' as *;

/*
https://asciiflow.com/#/share/eJzNVs1qhDAQfpUw54WW0hXqobfCFpa1B4%2B5SJsWQd3F2q3Lsm%2FRx%2BnT%2BCR1TWuM5sdotDsEicnM980kM0mOkAQxATf5iKIFRMGBpODCEUOOwb1zlgsMh7J34zhlLyN5Vv5gKL6%2BjRpCyNRkBiiMk%2FK7WXnoaeX5HkIUm34bw0mwD9%2BCLNwmPaYpKOKktkJC0U8zUEZWW%2FmP%2FvpBDiqdntBTnpNZGW1zb1OjuLr6CpWqF5MsaIP3CkFJSlGlpKKIuAktgSaqF%2FL%2BnI4ioAj%2FF8EkBPIcI3n4apdOKJbArbRBjtB1Gh3G4ELr2TpM7V3otUlGze7O0GYLUJ0C%2FB0pT1mlMLXzJVYNie4mY7Tfu9d0dWVcbeaOau29XtUAlYvCGuo0vl6W6vgtF0gxqMIHVNcf4T4kn7ttmqF75FyTeLYC1zpY6MpfsGgaPYGB8kiwwlAXmHHKqPklyaqOUmjEHprjmZrRdo2qp1u4oyqTxiQxGsQ0gRF71NllsplgailmOai0p0TTpfSce%2BU5try6xXCC0w%2FOLB7k)

+--------------+   +----------------------+   +----------------------+
|NHO PHOTO     |   |NHO PHOTO  navigation |   |NHO PHOTO  navigation |
|              |   |                      |   |                      |
|    navigation|   |TITLE                 |   |TITLE                 |
|              |   |                      |   |                      |
|TITLE         |   | +------------+       |   | +-------+            |
|              |   | |            |       |   | |       |  meta      |
| +----------+ |   | |            | meta  |   | |       |            |
| |          | |   | |            |       |   | |       |  descr     |
| |          | |   | |            | descr |   | |       |            |
| |          | |   | |            |       |   | |       |            |
| |          | |   | |            |       |   | +-------+  exif      |
| |          | |   | |            |       |   |                      |
| |          | |   | |            |       |   +----------------------+
| |          | |   | |            | exif  |
| |          | |   | |            |       |         ratio > 5/4
| +----------+ |   | +------------+       |
|              |   |                      |
+--------------+   +----------------------+


+------------------------------+
|NHO PHOTO                     |
|                              |
| navi     TITLE               |
|                              |
| gation    +-------------+    |
|           |             |    |
| navi      |             |    |
|           |             |    |
| gation    |             |    |
|           |             |    |
| navi      |             |    |
|           |             |    |
|           |             |    |
|           |             |    |
|           |             |    |
|           +-------------+    |
|                              |
+------------------------------+
        viewport > 60em


+----------------------------------------+
|NHO PHOTO                               |
|                                        |
| navi     TITLE                         |
|                                        |
| gation   +-------------+               |
|          |             |               |
| navi     |             |  meta         |
|          |             |               |
| gation   |             |  description  |
|          |             |               |
| navi     |             |               |
|          |             |               |
|          |             |               |
|          |             |  exif         |
|          |             |               |
|          +-------------+               |
|                                        |
+----------------------------------------+
            ratio > 5/4
 */

.photo {
  --width: 100%;
  --height: auto;

  display: grid;
  gap: var(--space-xs) var(--space-l);

  grid-template-areas:
    'header'
    'photo'
    'description'
    'exif'
    'tags';

  header {
    grid-area: header;
  }

  h1 {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .image {
    width: var(--width);
    max-height: var(--height);

    grid-area: photo;
    justify-self: start;
    align-self: start;

    background-color: black;
    padding: 2px;
    border-style: solid;
    border-width: 4px;
    border-color: white;
  }

  .description {
    grid-area: description;
  }

  .tags {
    grid-area: tags;
    justify-self: start;
    align-self: end;
    font-size: var(--step--1);
    color: $color-theme-lighter-2;
  }

  @media (min-width: $breakpoint-m) {
    // Make the image fully visible on load without scrolling
    // = Full height
    // - body padding: var(--space-s)
    // - breadcrumb: 1.5 * var(--step--1)
    // - title: 1.2 * var(--step-3)
    // - 2 grid gaps: 2 * var(--space-xs)
    --base: 100vh;
    --height: calc(
      var(--base) - var(--space-s) - 1.5rem - 1.2 * var(--step-3) - 2 *
        var(--space-xs)
    );
    --width: calc(var(--height) * var(--ratio));

    @media (max-height: 30em) {
      --base: 30rem;
    }
  }

  @media (min-width: $breakpoint-l) {
    // debug
    // background-color: red;

    grid-template-areas:
      'header header'
      'photo photo'
      'description exif'
      'tags exif';
    grid-template-columns: 2fr 1fr;
  }

  &.portrait {
    // Make the image fully visible on load without scrolling
    // = Full height: 100vh
    // - body padding: var(--space-s)
    // - logo: calc(var(--logo-wide) / 9)
    // - header gap: var(--space-s)
    // - navigation: 1.5 * var(--step-0)
    // - page gap: var(--space-l)
    // - breadcrumb: 1.5 * var(--step--1)
    // - title: 1.2 * var(--step-3)
    // - 2 grid gaps: 2 * var(--space-xs)
    --height: calc(
      100vh - var(--space-s) - calc(var(--logo-wide) / 9) - var(--space-s) - 1.5 *
        var(--step-0) - var(--space-l) - 1.5 * var(--step--1) - 1.2 *
        var(--step-3) - 2 * var(--space-xs)
    );
    --width: calc(var(--height) * var(--ratio));

    @media (min-width: $breakpoint-m) {
      // = Full height: 100vh
      // - body padding: var(--space-s)
      // - breadcrumb: 1.5 * var(--step--1)
      // - title: 1.2 * var(--step-3)
      // - 2 grid gaps: 2 * var(--space-xs)
      --height: calc(
        100vh - var(--space-s) - 1.5 * var(--step--1) - 1.2 * var(--step-3) - 2 *
          var(--space-xs)
      );
    }

    @media (min-width: $breakpoint-l) {
      grid-template-areas:
        'header header'
        'photo description'
        'photo exif'
        'tags tags';
      grid-template-columns: var(--width) auto;

      .meta {
        align-self: end;
      }
    }

    @media (min-aspect-ratio: 2) {
      --height: calc(100vh - 2 * var(--space-s));
      --width: auto;
    }
  }
}

.exif {
  grid-area: exif;
  align-self: start;
  justify-self: start;

  list-style-type: none;
  padding-inline-start: 0;
  font-size: var(--step--1);

  display: grid;
  gap: var(--space-xs);
  grid-template-areas:
    'date date date'
    'gear gear gear'
    'lens lens lens'
    'iso aperture exposure'
    'geo geo geo';

  @media (min-width: $breakpoint-s) and (max-width: $breakpoint-l) {
    width: 100%;

    grid-template-areas:
      'date date date geo'
      'gear gear gear geo'
      'lens lens lens geo'
      'iso aperture exposure geo'
      '. . . geo';

    .geo {
      justify-self: end;
    }
  }

  .date {
    grid-area: date;
  }

  .gear {
    grid-area: gear;
  }

  .lens {
    grid-area: lens;
  }

  .iso {
    grid-area: iso;
  }

  .aperture {
    grid-area: aperture;
  }

  .exposure {
    grid-area: exposure;
  }

  .geo {
    grid-area: geo;

    p {
      margin-block-start: 0;
      margin-block-end: 0;
    }
  }
}

#map {
  aspect-ratio: 3/2;
  width: 300px;
  height: 200px;

  background-color: black;
  padding: 1px;
  border: 1px solid white;

  img {
    border: none;
    background-color: transparent;
    padding: 1px;

    width: 298;
    max-width: 100%;
    height: 198px;
  }

  .marker {
    background-image: url('/ui/images/camera.svg');
    background-size: cover;
    width: 2em;
    height: 2em;

    animation-name: pulse;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

@keyframes pulse {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.3;
  }
}
