@use '../variables' as *;
@use '../every_layout/sidebar' as *;
@use '../every_layout/switcher' as *;
@use '../../../node_modules/mapbox-gl/dist/mapbox-gl.css';

.photo {
  --width: 100%;
  --height: auto;

  display: grid;
  gap: var(--space-xs) var(--space-l);

  grid-template-areas:
    'header'
    'photo'
    'description'
    'meta'
    'tags';

  header {
    grid-area: header;
  }

  h1 {
    margin-block: 0;
  }

  .image {
    width: var(--width);
    max-height: var(--height);

    grid-area: photo;
    justify-self: start;
    align-self: start;

    background-color: black;
    padding: 2px;
    border-style: solid;
    border-width: 4px;
    border-color: white;
  }

  .description {
    grid-area: description;
  }

  .tags {
    grid-area: tags;
    justify-self: start;
    align-self: end;
    font-size: var(--step--1);
    color: $color-theme-lighter-2;
  }

  @media (min-width: $breakpoint-m) {
    // Make the image fully visible on load without scrolling
    // = Full height
    // - body padding: var(--space-s)
    // - breadcrumb: 1.5 * var(--step--1)
    // - title: 1.2 * var(--step-3)
    // - 2 grid gaps: 2 * var(--space-xs)
    --base: 100vh;
    --height: calc(
      var(--base) - var(--space-s) - 1.5rem - 1.2 * var(--step-3) - 2 *
        var(--space-xs)
    );
    --width: calc(var(--height) * var(--ratio));

    @media (max-height: 30em) {
      --base: 30rem;
    }
  }

  @media (min-width: $breakpoint-l) {
    // debug
    // background-color: red;

    grid-template-areas:
      'header header'
      'photo photo'
      'description meta'
      'tags exif';
    grid-template-columns: 2fr 1fr;
  }

  &.portrait {
    // Make the image fully visible on load without scrolling
    // = Full height: 100vh
    // - body padding: var(--space-s)
    // - logo: calc(var(--logo-wide) / 9)
    // - header gap: var(--space-s)
    // - navigation: 1.5 * var(--step-0)
    // - page gap: var(--space-l)
    // - breadcrumb: 1.5 * var(--step--1)
    // - title: 1.2 * var(--step-3)
    // - 2 grid gaps: 2 * var(--space-xs)
    --height: calc(
      100vh - var(--space-s) - calc(var(--logo-wide) / 9) - var(--space-s) - 1.5 *
        var(--step-0) - var(--space-l) - 1.5 * var(--step--1) - 1.2 *
        var(--step-3) - 2 * var(--space-xs)
    );
    --width: calc(var(--height) * var(--ratio));

    @media (min-width: $breakpoint-m) {
      // = Full height: 100vh
      // - body padding: var(--space-s)
      // - breadcrumb: 1.5 * var(--step--1)
      // - title: 1.2 * var(--step-3)
      // - 2 grid gaps: 2 * var(--space-xs)
      --height: calc(
        100vh - var(--space-s) - 1.5 * var(--step--1) - 1.2 * var(--step-3) - 2 *
          var(--space-xs)
      );
    }

    @media (min-width: $breakpoint-l) {
      grid-template-areas:
        'header header'
        'photo description'
        'photo meta'
        'tags tags';
      grid-template-columns: var(--width) auto;

      .meta {
        align-self: end;
      }
    }

    @media (min-aspect-ratio: 2) {
      --height: calc(100vh - 2 * var(--space-s));
      --width: auto;
    }
  }
}

.meta {
  grid-area: meta;
  align-self: start;
  justify-self: stretch;
  width: 100%;
  max-width: 45rem;

  --sidebar-basis: 18rem;
  @extend %sidebar;
  align-items: flex-start;

  .exif {
    list-style-type: none;

    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

    font-size: var(--step--1);

    width: 100%;
    max-width: 20rem;

    display: grid;
    gap: var(--space-xs);
    grid-template-columns: 1fr 1fr 1fr;

    .date,
    .gear,
    .lens {
      grid-column: 1 / -1;
    }
  }

  .geo {
    p {
      margin-block-start: 0;
      margin-block-end: 0;
    }
  }
}

#map {
  aspect-ratio: 3/2;
  width: 100%;
  max-width: 20rem;
  height: auto;

  background-color: black;
  padding: 1px;
  border: 1px solid white;

  img,
  canvas {
    border: none;
    background-color: transparent;

    width: 100% !important;
    height: auto !important;
  }

  .marker {
    background-image: url('/ui/images/marker.svg');
    background-size: cover;
    width: 24px;
    height: 24px;

    animation-name: marker-pulse;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .marker-shadow {
    background-color: transparent;
    width: 2px;
    height: 2px;
    border-radius: 50%;

    animation-name: marker-shadow-pulse;
    animation-duration: 1.4s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }
}

@keyframes marker-pulse {
  from {
    opacity: 1;
    margin-block-start: 0;
  }

  to {
    opacity: 0.2;
    margin-block-start: -24px;
  }
}

@keyframes marker-shadow-pulse {
  from {
    width: 0;
    height: 0;
    box-shadow: 0 0 0 0 $color-theme;
    opacity: 0.5;
  }

  to {
    width: 24px;
    height: 24px;
    box-shadow: 0 0 0 12px $color-theme;
    opacity: 0;
  }
}
