@use '../variables' as *;
@use '../tokens/spaces';

/* ********************************************
* GALLERY
* ********************************************/

.photos {
  clear: both;

  margin: spaces.$xl 0;
  padding-inline-start: 0;

  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 18rem), 1fr));
  gap: 3rem;

  align-items: start;

  .portrait {
    width: calc(20rem / 3 * 2 / 3 * 2);
    height: calc(20rem / 3 * 2);
  }
}
