@use '../variables' as *;
@use '../tokens/spaces';
@use '../tokens/breakpoints';
@use '../tokens/colors';
@use '../every_layout/sidebar' as *;

.photo {
  --width: 100%;
  --height: auto;

  display: grid;
  gap: spaces.$s spaces.$xl;

  grid-template-areas:
    'header'
    'photo'
    'description'
    'meta'
    'platforms'
    'tags'
    'webmentions';

  .header {
    grid-area: header;
  }

  .image {
    grid-area: photo;
  }

  .description {
    grid-area: description;

    p {
      margin: 0;
    }

    // TODO: use %owl
    p + p {
      margin-block-start: 1em;
    }
  }

  .platforms {
    grid-area: platforms;
  }

  .tags {
    grid-area: tags;
  }

  .meta {
    grid-area: meta;
  }

  .webmentions {
    grid-area: webmentions;
  }

  h1 {
    margin: 0;
  }

  .image {
    position: relative;

    width: var(--width);
    max-height: var(--height);

    justify-self: start;
    align-self: start;

    background-color: black;
    padding: 0;
    padding: 0;
    box-shadow: 0 0 0 4px colors.$gray-50, 0 0 0 5px colors.$gray-500;
  }

  .image::after {
    content: '';
    position: absolute;
    inset: 0;
    backdrop-filter: blur(50px);
    pointer-events: none;
  }

  .tags {
    justify-self: start;
    align-self: end;
    font-size: var(--step--1);
    color: colors.$brand-400;

    a:link,
    a:visited {
      display: inline-block;
      margin: 0.2rem;
      padding: 0 0.4rem;
      border-radius: 1rem;
      background-color: var(--ambiant-foreground, #{colors.$text});
      color: var(--ambiant-background, #{colors.$surface});
      text-decoration: none;
    }

    a:hover,
    a:active {
      background-color: colors.$brand-200;
      color: colors.$brand-500;
    }
  }

  @media (min-width: breakpoints.$m) {
    // Make the image fully visible on load without scrolling
    // = Full height
    // - body padding: spaces.$m
    // - breadcrumb: $line-height * var(--step--1)
    // - title: 1.2 * var(--step-4)
    // - 2 grid gaps: 2 * spaces.$s
    --base: var(--full-height);
    --height: calc(
      var(--base) - #{spaces.$m} - #{$line-height} * var(--step--1) - 1.2 *
        var(--step-4) - 2 * #{spaces.$s}
    );
    --width: calc(var(--height) * var(--ratio));

    @media (max-height: 30em) {
      --base: 30rem;
    }
  }

  @media (min-width: breakpoints.$l) {
    grid-template-areas:
      'header header'
      'photo photo'
      'description meta'
      'platforms meta'
      'tags meta'
      'webmentions webmentions';
    grid-template-columns: 2fr 1fr;
  }

  &.portrait {
    // Make the image fully visible on load without scrolling
    // = Full height: 100dvh
    // - body padding: spaces.$m
    // - logo: calc(var(--logo-wide) / 9)
    // - header gap: spaces.$m
    // - navigation: $line-height * var(--step-0)
    // - page gap: spaces.$xl
    // - breadcrumb: $line-height * var(--step--1)
    // - title: 1.2 * var(--step-3)
    // - 2 grid gaps: 2 * spaces.$s
    --height: calc(
      var(--full-height) - #{spaces.$m} - calc(var(--logo-wide) / 9) - #{spaces.$m} -
        #{$line-height} * var(--step-0) - #{spaces.$xl} - #{$line-height} * var(
          --step--1
        ) - 1.2 * var(--step-4) - 2 * #{spaces.$s}
    );
    --width: calc(var(--height) * var(--ratio));

    @media (min-width: breakpoints.$m) {
      // = Full height: 100dvh
      // - body padding: spaces.$m
      // - breadcrumb: $line-height * var(--step--1)
      // - title: 1.2 * var(--step-3)
      // - 2 grid gaps: 2 * spaces.$s
      --height: calc(
        var(--full-height) - #{spaces.$m} - #{$line-height} * var(--step--1) -
          1.2 * var(--step-4) - 2 * #{spaces.$s}
      );
    }

    @media (min-width: breakpoints.$l) {
      grid-template-areas:
        'header header'
        'photo description'
        'photo meta'
        'platforms platforms'
        'tags tags'
        'webmentions webmentions';
      grid-template-columns: var(--width) auto;

      .meta {
        align-self: end;
      }
    }

    @media (min-aspect-ratio: 2) {
      // --height: calc(100dvh - 2 * #{spaces.$m});
      // --width: auto;
    }
  }
}

.meta {
  align-self: start;
  justify-self: stretch;
  width: 100%;
  max-width: 45rem;

  --sidebar-basis: 18rem;
  @include sidebar();

  align-items: flex-start;

  .exif {
    margin-block: 0;
    padding-inline-start: 0;

    font-size: var(--step--1);

    width: 100%;
    max-width: 20rem;

    display: grid;
    gap: spaces.$s;
    grid-template-columns: min-content 1fr min-content 1fr min-content 1fr;
    grid-template-areas:
      'date-icon date date date date date'
      'gear-icon gear gear gear gear gear'
      'lens-icon lens lens lens lens lens'
      'focal-length-icon focal-length focal-length focal-length focal-length focal-length'
      'iso-icon iso aperture-icon aperture shutter-speed-icon shutter-speed';

    dd {
      margin-inline-start: 0;
    }
    .date-icon {
      grid-area: date-icon;
    }
    .date {
      grid-area: date;
    }
    .gear-icon {
      grid-area: gear-icon;
    }
    .gear {
      grid-area: gear;
    }
    .lens-icon {
      grid-area: lens-icon;
    }
    .lens {
      grid-area: lens;
    }
    .focal-length-icon {
      grid-area: focal-length-icon;
    }
    .focal-length {
      grid-area: focal-length;
    }
    .iso-icon {
      grid-area: iso-icon;
    }
    .iso {
      grid-area: iso;
    }
    .aperture-icon {
      grid-area: aperture-icon;
    }
    .aperture {
      grid-area: aperture;
    }
    .shutter-speed-icon {
      grid-area: shutter-speed-icon;
    }
    .shutter-speed {
      grid-area: shutter-speed;
    }
  }

  .geo {
    p {
      margin-block: 0;
    }

    .locate {
      font-size: var(--step--1);
    }
  }
}

/* **************************************************
* Adapt to split screens like Microsoft Surface Duo
* **************************************************/

// https://devblogs.microsoft.com/surface-duo/foldable-css-javascript-edge-96/

@media (horizontal-viewport-segments: 2) {
  main {
    padding-inline: spaces.$m;
  }

  .photo {
    grid-template-areas:
      'header photo'
      'meta photo'
      'meta description'
      'meta platforms'
      'meta tags'
      'webmentions webmentions';
    grid-template-columns: 1fr calc(var(--right-pane-width) - #{spaces.$m});
    column-gap: var(--hinge-width);

    --width: calc(var(--right-pane-width) - 2 * #{spaces.$m});

    .image,
    .description,
    .tags {
      margin-inline-start: spaces.$m;
    }

    .header,
    .meta {
      margin-inline-end: spaces.$m;
    }

    h1 {
      font-size: var(--step-3);
    }
  }
}

.platforms {
  margin-block: 3rem;

  ul {
    list-style: none;
    margin: 0;
  }
}
