@use '../variables' as *;

/* ********************************************
* SOCIAL
* ********************************************/

#social {
  display: none;

  @media (min-width: $breakpoint-m) {
    display: block;

    margin-top: var(--space-3xl);
    color: $color-theme-lighter-1;
  }

  ul {
    padding: 0;
    gap: var(--space-3xs);
  }

  a:link,
  a:visited {
    color: $color-theme-lighter-4;
  }

  a:hover,
  a:focus {
    color: $color-theme-lighter-5;
    text-decoration-color: $color-theme-lighter-2;
  }
}
