{% macro meta(item) %}
  <ul class="meta">
    {% if item.date %}
      <li class="date meta__item meta__date">
        <time class="dt-published icon icon--date" datetime="{{ item.date | date("YYYY-MM-DD") }}">
          {{ item.date | date("Do MMMM YYYY") }}
        </time>
      </li>
    {% endif %}
    {% if item.data.location %}
      <li class="date meta__item meta__location">
        {% if item.data.location.url %}
          <a href="{{ item.data.location.url }}" icon icon--date>{{ item.data.location.name }}</a>
        {% else %}
          <span class="icon icon--date">{{ item.data.location.name }}</span>
        {% endif %}
      </li>
    {% endif %}
  </ul>
{% endmacro %}
