---
permalink: feeds/blog.xml
layout: null
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="/assets/pretty-atom-feed-v3.xsl" type="text/xsl" media="screen"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Latest blog posts from {{ site.title }}</title>
  <link href="{{ site.url }}/feeds/blog.xml" rel="self"/>
  <link href="{{ site.url }}/"/>
  <updated>{{ collections.blog | rssLastUpdatedDate }}</updated>
  <id>{{ site.url }}</id>
  <author>
    <name>{{ site.author.name }}</name>
    <email>{{ site.author.email }}</email>
  </author>
  {% for entry in collections.blog | limit(20) %}
    {% set absoluteEntryUrl %}{{ entry.url | url | absoluteUrl(site.url) }}{% endset %}
    {% set readableDate = entry.date | date("Do MMMM YYYY") %}
    <entry>
      <title>{{ entry.data.title or entry.data.layout + ' from ' + readableDate }}</title>
      <link href="{{ absoluteEntryUrl }}?utm_source=feed_blog&utm_medium=feed"/>
      <updated>{{ entry.date | rssDate }}</updated>
      <id>{{ absoluteEntryUrl }}</id>
      <content type="html"><![CDATA[
        {{ entry.templateContent | cleanDeepLinks | htmlToAbsoluteUrls(absoluteEntryUrl) | safe }}
      ]]></content>
    </entry>
  {% endfor %}
</feed>
