---
permalink: feeds/photos.json
layout: null
eleventyExcludeFromCollections: true
---
[
{%- for item in collections.unique_photos %}
  {
    "title": "{{ item.data.title }}",
    "date": "{{ item.data.date | iso }}",
    "src": "{{ site.url }}/photos/{{ item.page.fileSlug }}/{{ item.page.fileSlug }}.jpg",
    "width": "{{ item.data.origin.data.dimensions.width }}",
    "height": "{{ item.data.origin.data.dimensions.height }}",
    "url": "{{ site.url }}{{ item.page.url }}"
  }{%- if not loop.last -%},{%- endif -%}
{% endfor %}
]
