---
permalink: feeds/photos.xml
layout: null
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Photos from {{ site.title }}</title>
  <link href="{{ site.url }}/feeds/photos.xml" rel="self"/>
  <link href="{{ site.url }}/"/>
  <updated>{{ collections.blog | rssLastUpdatedDate }}</updated>
  <id>{{ site.url }}</id>
  <author>
    <name>{{ site.author.name }}</name>
    <email>{{ site.author.email }}</email>
  </author>
  {% for entry in collections.unique_photos | limit(20) %}
    {% set absoluteEntryUrl %}{{ entry.url | url | absoluteUrl(site.url) }}{% endset %}
    {% set photoUrl = 'https://nicolas-hoizey.photo/photos/' + entry.fileSlug + '/feed.jpg' %}
    <entry>
      <title>{{ entry.data.title }}</title>
      <link href="{{ absoluteEntryUrl }}"/>
      <updated>{{ entry.date | rssDate }}</updated>
      <id>{{ absoluteEntryUrl }}</id>
      <content type="html">
        <img src="{{ photoUrl }}" alt="{{ entry.data.title }}" />
        <p>Shared on {{ entry.date | date("Do MMMM YYYY") }}</p>
        {{ entry.data.origin.content | markdownify | safe }}
      </content>
    </entry>
  {% endfor %}
</feed>
