---
permalink: map/mapbox-style-common.json
layout: null
eleventyExcludeFromCollections: true
---
{
  "version": 8,
  "id": "common",
  "name": "Common",
  "owner": "nhoizey",
  "draft": false,
  "metadata": {
    "mapbox:autocomposite": true,
    "mapbox:uiParadigm": "imports"
  },
  "center": [3, 35],
  "zoom": 3,
  "sources": {
    "mapbox-dem": {
      "url": "mapbox://mapbox.mapbox-terrain-dem-v1",
          "type": "raster-dem",
          "tileSize": 512
      }
  },
  "terrain": {
    "source": "mapbox-dem",
    "exaggeration": 1
  },
  "fog": {
    "color": [
      "interpolate",
      ["exponential", 1.2],
      ["zoom"],
      5, [
        "interpolate",
        ["linear"],
        [
          "measure-light",
          "brightness"
        ],
        0.1, "hsla(240, 9%, 55%, 0.2)",
        0.4, "hsla(0, 0%, 100%, 0.2)"
      ],
      7, [
        "interpolate",
        ["linear"],
        [
          "measure-light",
          "brightness"
        ],
        0.02, "hsla(213, 63%, 20%, 0.9)",
        0.03, "hsla(30, 65%, 60%, 0.5)",
        0.4, "hsla(10, 79%, 88%, 0.8)",
        0.45, "hsla(200, 60%, 98%, 0.9)"
      ]
    ],
    "horizon-blend": [
      "interpolate",
      ["exponential", 1.2],
      ["zoom"],
      5, 0.004,
      7, [
        "interpolate",
        ["exponential", 1.2],
        [
          "measure-light",
          "brightness"
        ],
        0.35, 0.03,
        0.4, 0.07,
        0.45, 0.03
      ]
    ],
    "high-color": [
      "interpolate",
      ["exponential", 1.2],
      ["zoom"],
      5, [
        "interpolate",
        ["linear"],
        [
          "measure-light",
          "brightness"
        ],
        0.1, "hsla(215, 60%, 20%, 1)",
        0.4, "hsla(215, 100%, 80%, 1)"
      ],
      7, [
        "interpolate",
        ["linear"],
        [
          "measure-light",
          "brightness"
        ],
        0, "hsla(228, 38%, 20%, 1)",
        0.05, "hsla(360, 100%, 85%, 1)",
        0.2, "hsla(205, 88%, 86%, 1)",
        0.4, "hsla(270, 65%, 85%, 1)",
        0.45, "hsla(0, 0%, 100%, 1)"
      ]
    ],
    "space-color": [
      "interpolate",
      ["exponential", 1.2],
      ["zoom"],
      5, "hsl(211, 84%, 0%)",
      7, [
        "interpolate",
        ["linear"],
        [
          "measure-light",
          "brightness"
        ],
        0, "hsl(210, 84%, 5%)",
        0.2, "hsl(210, 40%, 30%)",
        0.4, "hsl(210, 45%, 30%)",
        0.45, "hsl(210, 100%, 80%)"
      ]
    ],
    "star-intensity": [
      "interpolate",
      ["exponential", 1.2],
      ["zoom"],
      5, 0.4,
      7, [
        "interpolate",
        ["exponential", 1.2],
        [
          "measure-light",
          "brightness"
        ],
        0.1, 0.2,
        0.3, 0
      ]
    ],
    "range": [
      "interpolate",
      ["linear"],
      ["zoom"],
      13, ["literal", [1, 20]],
      15, ["literal", [1, 4]]
    ]
  },
  "glyphs": "mapbox://fonts/mapbox/{fontstack}/{range}.pbf",
  "layers": [],
  "visibility": "private",
  "created": "1970-01-01T00:00:00.000Z",
  "modified": "1970-01-01T00:00:00.000Z"
}
