---
permalink: map/mapbox-style-terrain.json
layout: null
eleventyExcludeFromCollections: true
---
{
  "version": 8,
  "name": "Standard",
  "metadata": {
    "mapbox:autocomposite": true,
    "mapbox:uiParadigm": "imports"
  },
  "imports": [
    {
      "id": "basemap",
      "url": "mapbox://styles/mapbox/standard"
    }
  ],
  "center": [0, 20],
  "zoom": 2,
  "sources": {},
  "sprite": "{{ site.url }}/ui/thumbnails/{% if build.env == "build" %}{{ sprites.signature }}/{% endif %}sprite",
  "glyphs": "mapbox://fonts/mapbox/{fontstack}/{range}.pbf",
  "layers": [],
  "visibility": "public",
  "created": "1970-01-01T00:00:00.000Z",
  "modified": "1970-01-01T00:00:00.000Z",
  "owner": "mapbox",
  "id": "outdoors-v11",
  "draft": false
}
