---
permalink: map/mapbox-style-terrain.json
layout: null
eleventyExcludeFromCollections: true
---
{
  "version": 8,
  "id": "terrain",
  "name": "Terrain",
  "owner": "nhoizey",
  "draft": false,
  "imports": [
    {
      "id": "basemap",
      "url": "mapbox://styles/mapbox/standard",
      "config": {
				"font": "DIN Pro",
				"showLandmarkIcons": true,
				"showPlaceLabels": true,
				"show3dObjects": false,
				"showPedestrianRoads": true,
				"showRoadsAndTransit": true,
				"showRoadLabels": false,
				"showTransitLabels": false,
				"showPointOfInterestLabels": false
      }
    },
    {
      "id": "common",
      "url": "{{ site.url }}/map/mapbox-style-common.json"
    }
  ],
  "sources": {},
  "layers": [],
  "sprite": "{{ site.url }}/ui/thumbnails/{% if build.env == "build" %}{{ sprites.signature }}/{% endif %}sprite",
  "visibility": "private",
  "created": "1970-01-01T00:00:00.000Z",
  "modified": "1970-01-01T00:00:00.000Z"
}
