---
permalink: map/photos.geojson
layout: null
eleventyExcludeFromCollections: true
---
{
  "type": "FeatureCollection",
  "features": [
{%- for item in collections.unique_photos %}
  {%- if item.data.origin.data.geo -%}
    {
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": [{{ item.data.origin.data.geo.longitude }}, {{ item.data.origin.data.geo.latitude }}]
      },
      "properties": {
        "slug": "{{ item.page.fileSlug }}",
        "title": "{{ item.data.title }}",
        "date": "{{ item.data.origin.data.dates.iso }}",
        "image": "{% if build.env == 'build' %}https://res.cloudinary.com/nho/image/fetch/q_auto,f_auto,w_200,c_limit/{% endif %}{{ site.url }}/photos/{{ item.page.fileSlug }}/{{ item.page.fileSlug }}.jpg",
        "width": "{{ item.data.origin.data.dimensions.width }}",
        "height": "{{ item.data.origin.data.dimensions.height }}",
        "url": "{{ item.page.url }}"
      }
    }{%- if not loop.last -%},{%- endif -%}
  {%- endif -%}
{% endfor %}
  ]
}
