---
permalink: map/photos.geojson
layout: null
eleventyExcludeFromCollections: true
---
{
  "type": "FeatureCollection",
  "features": [
{%- set alreadyOne = false -%}
{%- for item in collections.unique_photos | by_date %}
  {%- if item.data.origin.data.geo -%}
    {%- if alreadyOne -%},{%- else -%}{%- set alreadyOne = true -%}{%- endif -%}
    {
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": [{{ item.data.origin.data.geo.longitude }}, {{ item.data.origin.data.geo.latitude }}]
        {%- if item.data.origin.data.geo.direction -%}
        ,
        "direction": {{ item.data.origin.data.geo.direction }}
        {%- endif -%}
      },
      "properties": {
        "slug": "{{ item.page.fileSlug }}",
        "title": "{{ item.data.title }}",
        "timestamp": {{ item.data.origin.data.dates.timestamp }},
        "image": "/photos/{{ item.page.fileSlug }}/{{ item.page.fileSlug }}.jpg",
        "width": "{{ item.data.origin.data.dimensions.width }}",
        "height": "{{ item.data.origin.data.dimensions.height }}",
        "url": "{{ item.page.url }}"
      }
    }
  {%- endif -%}
{% endfor %}
  ]
}
