@use '../variables' as *;

/*
Every Layout's switcher layout:
https://absolutely.every-layout.dev/layouts/switcher/
*/

%switcher > * {
  display: flex;
  flex-wrap: wrap;
  margin: $gap / 2 * -1;
}

%switcher > * > * {
  flex-grow: 1;
  flex-basis: calc((var(--switch, 15rem) - (100% - var(--space-m))) * 999);
  margin: $gap / 2;
}
