---
permalink: sitemap.xml
layout: null
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:image="http://www.google.com/schemas/sitemap-image/1.1">
  <url>
    <loc>https://nicolas-hoizey.photo/</loc>
    <changefreq>weekly</changefreq>
  </url>
{% for entry in collections.unique_photos %}
  <url>
    <loc>https://nicolas-hoizey.photo/photos/{{- entry.page.fileSlug -}}/</loc>
    <changefreq>monthly</changefreq>
    <image:image>
      <image:loc>{{ 'https://nicolas-hoizey.photo/photos/' + entry.page.fileSlug + '/' + entry.page.fileSlug + '.jpg' }}</image:loc>
      <image:title>{{ entry.data.title }}</image:title>
      <image:caption>{{ entry.data.title }}</image:caption>
      {% if geo and geo.city and geo.country %}<image:geo_location>{{ geo.city }}, {{ geo.country }}</image:geo_location>{% endif %}
    </image:image>
  </url>
{% endfor %}
</urlset>
