---
pagination:
  data: collections.tags
  size: 1
  alias: tag
  filter:
    - all
  addAllPagesToCollections: true
layout: tag
eleventyComputed:
  title: Photos tagged “{{ tag.tag }}”
permalink: /tags/{{ tag.slug }}/
---


{% block content %}

{% if tag.logo or tag.description %}
  {% if tag.logo %}
    <img src="/{{ tag.logo }}" class="logo" data-responsiver="logo" />
  {% endif %}

  {% if tag.description %}
    {{ tag.description | markdownify | safe }}
  {% endif %}
{% endif %}

{%- css "critical" %}{% renderFile "src/assets/sass/components/photos.scss" %}{% endcss %}

{% from "macros/photo.njk" import photo %}

{% if tag.number > 1 %}
  <p>There are {{ tag.number }} photos with this tag.</p>
{% else %}
  <p>There is only one photo with this tag.</p>
{% endif %}

{%- css "critical" %}{% renderFile "src/assets/sass/components/photos_sort.scss" %}{% endcss %}
<div class="photos_sort">
  <p class="label">Sort photos:</p>
  <ul>
    <li><span class="current">oldest first</span></li>
    <li><a href="./newest-first/">newest first</a></li>
    <li><a href="./by-popularity/">by popularity</a></li>
  </ul>
</div>

<ul class="photos">
  {% set photos = collections.photos_in_galleries | taggued(tag.tag) %}
  {% for item in photos %}
    {% if loop.index < 4 %}
      {{ photo(item, "eager", build.env) }}
    {% else %}
      {{ photo(item, "lazy", build.env) }}
    {% endif %}
  {% endfor %}
</ul>
{% endblock %}
