@use '../variables' as *;

/*
Every Layout's cluster layout:
https://absolutely.every-layout.dev/layouts/cluster/
*/

%cluster {
  overflow: hidden;
}

%cluster > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: calc($gap / 2) * -1;
}

%cluster > * > * {
  margin: calc($gap / 2);
}
