@use '../variables' as *;

/*
Every Layout's switcher layout:
https://absolutely.every-layout.dev/layouts/switcher/
*/

%switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--switcher-gap, 1rem);
}

%switcher > * {
  flex-grow: 1;
  flex-basis: calc((var(--switcher-threshold) - 100%) * 999);
}
