---
title: "Search"
nav:
  order: 3
  icon: search
---

{% from "macros/css.njk" import css %}
{{ css('components/pagefind', build.env) }}

<script src="/pagefind/pagefind-ui.js"></script>
<h1>Search content</h1>
<div id="search"></div>
<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    const search_ui = new PagefindUI(
      {
        element: "#search",
        autofocus: true,
        pageSize: 10,
        showEmptyFilters: false,
        excerptLength: 50,
        showImages: true,
        showSubResults: false,
        openFilters: ['00. Page type'],
        resetStyles: false,
        translations: {
          placeholder: "Type your search…",
          clear_search: "Clear",
          load_more: "Load more results",
          search_label: "Search this site",
          filters_label: "Filters",
          zero_results: "No result found for “[SEARCH_TERM]”.",
          many_results: "[COUNT] results found for “[SEARCH_TERM]”:",
          one_result: "[COUNT] result found for “[SEARCH_TERM]”:",
          alt_search: "No result found for “[SEARCH_TERM]”. Showing results for “[DIFFERENT_TERM]” instead:",
          search_suggestion: "No result found for “[SEARCH_TERM]”. Try one of the following searches:",
          searching: "Searching for “[SEARCH_TERM]”…"
        },
        processTerm: function (term) {
          history.replaceState({}, "", `?q=${encodeURIComponent(term)}`);
          return term;
        },
        processResult: function (result) {
          // Remove the title from the excerpt if it's not highlighted
          result.excerpt = result.excerpt.replace(`${result.meta.title}. `, '');

          // Add the page type to the title
          if (!result.raw_title) {
            result.raw_title = result.meta.title;
          }
          // Add the page type to the title
          result.meta.title = `${result.filters['00. Page type']} ▸ ${result.raw_title}`;

          return result;
        }
      });

      const params = new URLSearchParams(window.location.search);
      if (params.has('q')) {
        search_ui.triggerSearch(params.get('q'));
      }
  });
</script>
