@use '../variables' as *;
@use '../tokens/spaces';
@use '../tokens/breakpoints';

.flag {
  width: 30%;
  height: auto;
  max-width: 15rem;

  float: right;
  margin: spaces.$s 0 spaces.$l spaces.$l;
}
