@use '../variables' as *;
@use '../tokens/spaces';
@use '../tokens/breakpoints';
@use '../tokens/colors';

footer {
  margin-block-start: spaces.$xxl;
  padding: spaces.$m;
  font-size: var(--step-0);

  // https://web.dev/content-visibility/
  // https://www.smashingmagazine.com/2021/04/humble-img-element-core-web-vitals/#lazy-render-offscreen-content
  // https://twitter.com/csswizardry/status/1584563794780770309/photo/1
  content-visibility: auto;
  contain-intrinsic-size: auto 250px;

  display: grid;
  column-gap: spaces.$xxl;
  row-gap: spaces.$s;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

  color: colors.$brand-500;

  @media (min-width: breakpoints.$m) {
    padding-inline: spaces.$xxl;
  }

  p,
  ul {
    margin-block: 0;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  .icon {
    vertical-align: middle;
    width: 1.1em;
    height: auto;
  }

  .footer__social .icon {
    margin-right: spaces.$xxs;
  }

  a:link,
  a:visited {
    color: colors.$brand-700;
    text-decoration-thickness: 1px;
  }

  a:hover,
  a:focus {
    color: colors.$brand-900;
    text-decoration-color: colors.$brand-400;
  }
}
