@use '../variables' as *;
@use '../tokens/spaces';
@use '../tokens/breakpoints';
@use '../tokens/colors';

/* ********************************************
* LOGO
* ********************************************/

.sitelogo {
  margin-block: spaces.$m 0;
  margin-inline: spaces.$m;

  h1,
  a:link {
    display: block;
    margin: 0;
    padding: 0;

    font-family: serif; // prevents loading of the web font just for that
    font-size: 1em;
    line-height: 1;

    color: colors.$header;
    text-decoration: none;

    height: calc(var(--logo-wide) / 9);
    @media (min-width: breakpoints.$m) {
      height: var(--logo-square);
    }
  }

  img {
    width: var(--logo-wide);
    max-width: var(--logo-wide);
    height: calc(var(--logo-wide) / 9);
    aspect-ratio: 9 / 1;

    @media (min-width: breakpoints.$m) {
      width: var(--logo-square);
      max-width: var(--logo-square);
      height: var(--logo-square);
      aspect-ratio: 1 / 1;
    }
  }
}
