@use '../variables' as *;
@use '../tokens/spaces';
@use '../tokens/breakpoints';
@use '../tokens/colors';
@use '../../../node_modules/mapbox-gl/dist/mapbox-gl.css';
@use '../../../node_modules/mapbox-gl-style-switcher/styles.css';

.map {
  @media (min-width: breakpoints.$m) {
    // For when the map is bellow the header
    .header {
      position: absolute;
      z-index: 20;
      text-shadow: 1px 1px 0.5rem rgba(0, 0, 0, 0.7);
    }

    .breadcrumb {
      color: white;
      a {
        color: currentColor;
      }
    }
  }
}

#map {
  margin-inline: -(spaces.$m);
  width: 100vw;

  // = Full height: 100dvh
  // - body padding: spaces.$m
  // - logo: calc(var(--logo-wide) / 9)
  // - header gap: spaces.$m
  // - navigation: $line-height * var(--step-0)
  // - page gap: spaces.$xl
  // - breadcrumb: $line-height * var(--step--1)
  // - title: 1.2 * var(--step-3)
  // - 2 grid gaps: 2 * spaces.$s
  height: calc(
    var(--full-height) - #{spaces.$m} - calc(var(--logo-wide) / 9) - #{spaces.$m} -
      #{$line-height} * var(--step-0) - #{spaces.$xl} - #{$line-height} * var(
        --step--1
      ) - 1.2 * var(--step-4) - 2 * #{spaces.$s}
  );

  @media (min-width: breakpoints.$m) {
    position: relative;
    top: -(spaces.$m);
    left: -(spaces.$xxl);
    margin-inline: 0;
    width: calc(100% + spaces.$xxl * 2);
    height: var(--full-height);

    z-index: 10;

    .mapboxgl-ctrl-top-right {
      top: spaces.$xxl;
      right: spaces.$xxl;
    }
  }

  .mapboxgl-popup {
    --mapboxgl-popup-width: 220px;
    width: var(--mapboxgl-popup-width);
  }

  .mapboxgl-popup.autoplay {
    --mapboxgl-popup-width: min(400px, 30vw);
  }

  .mapboxgl-popup-content {
    background-color: colors.$surface;
    width: calc(var(--mapboxgl-popup-width) + 2px + 2 * spaces.$xxxs);

    img {
      border: 1px solid #fff;
    }
  }

  .mapboxgl-popup-photos {
    padding: spaces.$xxxs;
    max-height: 300px;
    overflow-y: scroll;

    p {
      margin-block-start: 0;
    }

    p + p {
      margin-block-start: spaces.$s;
    }
  }

  .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: colors.$surface;
  }

  .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: colors.$surface;
  }

  .mapboxgl-popup-anchor-bottom-left,
  .mapboxgl-popup-anchor-bottom-right,
  .mapboxgl-popup-anchor-bottom {
    .mapboxgl-popup-tip {
      border-top-color: colors.$surface;
    }
  }

  .mapboxgl-popup-anchor-top-left,
  .mapboxgl-popup-anchor-top-right,
  .mapboxgl-popup-anchor-top {
    .mapboxgl-popup-tip {
      border-bottom-color: colors.$surface;
    }
  }

  .mapboxgl-popup-close-button {
    padding: 0;
    line-height: 1;
    right: 1px;
    top: -3px;
    font-size: 14px;
    color: #ffffff;
  }

  .mapboxgl-style-list button {
    color: black;
  }

  .mapboxgl-ctrl button.mapboxgl-ctrl-autoplay .mapboxgl-ctrl-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 24 24'%3E%3Cpath d='M12.002 5c-3.86 0-7.001 3.143-7.001 7.002s3.142 7.001 7.001 7.001c3.86 0 7.001-3.142 7.001-7S15.861 5 12.003 5Zm2.65 7.379-3.829 2.237a.45.45 0 0 1-.438.006.434.434 0 0 1-.218-.383V9.766a.434.434 0 0 1 .656-.377l3.829 2.236a.444.444 0 0 1 .219.377.437.437 0 0 1-.219.377Z'/%3E%3C/svg%3E");
  }
  .mapboxgl-ctrl button.mapboxgl-ctrl-autoplay.mapboxgl-ctrl-autoplay-active .mapboxgl-ctrl-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 24 24'%3E%3Cpath d='M6 5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1Zm9 0a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1Z'/%3E%3C/svg%3E");
  }

  .mapboxgl-ctrl button.mapboxgl-ctrl-3d-toggle .mapboxgl-ctrl-icon {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjJEPC90ZXh0Pjwvc3ZnPg==);
  }
  .mapboxgl-ctrl button.mapboxgl-ctrl-3d-toggle.mapboxgl-ctrl-3d-toggle-active .mapboxgl-ctrl-icon {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjNEPC90ZXh0Pjwvc3ZnPg==);
  }
}
