@use '../variables' as *;
@use '../tokens/spaces';
@use '../tokens/breakpoints';
@use '../tokens/colors';
@use '../../../node_modules/mapbox-gl/dist/mapbox-gl.css';
@use '../../../node_modules/mapbox-gl-style-switcher/styles.css';

.map {
  @media (min-width: breakpoints.$m) {
    // For when the map is bellow the header
    .header {
      position: absolute;
      z-index: 20;
      text-shadow: 1px 1px 0.5rem rgba(0, 0, 0, 0.7);
    }

    .breadcrumb {
      color: white;
      a {
        color: currentColor;
      }
    }
  }
}

#map {
  margin-inline: -(spaces.$m);
  width: 100vw;

  // = Full height: 100dvh
  // - body padding: spaces.$m
  // - logo: calc(var(--logo-wide) / 9)
  // - header gap: spaces.$m
  // - navigation: $line-height * var(--step-0)
  // - page gap: spaces.$xl
  // - breadcrumb: $line-height * var(--step--1)
  // - title: 1.2 * var(--step-3)
  // - 2 grid gaps: 2 * spaces.$s
  height: calc(
    var(--full-height) - #{spaces.$m} - calc(var(--logo-wide) / 9) - #{spaces.$m} -
      #{$line-height} * var(--step-0) - #{spaces.$xl} - #{$line-height} * var(
        --step--1
      ) - 1.2 * var(--step-4) - 2 * #{spaces.$s}
  );

  @media (min-width: breakpoints.$m) {
    position: relative;
    top: -(spaces.$m);
    left: -(spaces.$xxl);
    margin-inline: 0;
    width: calc(100% + spaces.$xxl * 2);
    height: var(--full-height);

    z-index: 10;

    .mapboxgl-ctrl-top-right {
      top: spaces.$xxl;
      right: spaces.$xxl;
    }
  }

  .mapboxgl-popup {
    width: 220px;
  }

  .mapboxgl-popup-content {
    background-color: colors.$surface;
    width: calc(200px + 2px + 2 * spaces.$xxxs);

    img {
      border: 1px solid #fff;
    }
  }

  .mapboxgl-popup-photos {
    padding: spaces.$xxxs;
    max-height: 300px;
    overflow-y: scroll;

    p {
      margin-block-start: 0;
    }

    p + p {
      margin-block-start: spaces.$s;
    }
  }

  .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: colors.$surface;
  }

  .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: colors.$surface;
  }

  .mapboxgl-popup-anchor-bottom-left,
  .mapboxgl-popup-anchor-bottom-right,
  .mapboxgl-popup-anchor-bottom {
    .mapboxgl-popup-tip {
      border-top-color: colors.$surface;
    }
  }

  .mapboxgl-popup-anchor-top-left,
  .mapboxgl-popup-anchor-top-right,
  .mapboxgl-popup-anchor-top {
    .mapboxgl-popup-tip {
      border-bottom-color: colors.$surface;
    }
  }

  .mapboxgl-popup-close-button {
    padding: 0;
    line-height: 1;
    right: 1px;
    top: -3px;
    font-size: 14px;
    color: #ffffff;
  }

  .mapboxgl-style-list button {
    color: black;
  }
}
