@use '../variables' as *;
@use '../tokens/spaces';
@use '../tokens/breakpoints';
// @use './eventail';
@use './kenburns';

$gallery-min-width: 16rem;
$gallery-gap: 4rem;

/* ********************************************
* GALLERIES
* ********************************************/

.sub_galleries {
  container-type: inline-size;
  container-name: sub_galleries;

  // Clear the flag float
  clear: right;

  list-style: none;
  padding-inline-start: 0;

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(100%, $gallery-min-width), 1fr)
  );
  gap: $gallery-gap;

  align-items: start;

  @container sub_galleries (width >= #{$gallery-min-width * 3 + $gallery-gap * 2}) {
    > :first-child {
      grid-column: span 2;
      grid-row: span 2;
      align-self: start;
    }
  }

  :is(:link, :visited) {
    text-decoration-line: none;
    font-weight: bold;
  }
}
