/* Colors palette
 * Old: https://hihayk.github.io/scale/#5/5/95/95/0/0/0/0/663399/102/51/153/white
 */

$brand-900: #050308;
$brand-800: #190c25;
$brand-700: #2c1642;
$brand-600: #3f205f;
$brand-500: rebeccapurple; // #663399
$brand-400: #a081c0;
$brand-300: #bda7d3;
$brand-200: #dacee7;
$brand-100: #f7f5fa;

$surface: #292929;
$header: #333;
$text: $brand-100;

$meta: #ddd;

$link: $brand-400;
$link-decoration: $brand-200;
$link-hover: $brand-100;
$link-hover-decoration: $brand-600;
