---
title: Statistics
layout: page
nav:
  order: 8
  icon: statistics
---

{% from "macros/css.njk" import css %}

{% include 'components/breadcrumb.njk' %}

<h1>Statistics</h1>
<p>Here are some statistics about the photos available in this site:</p>

<h2>Apertures</h2>
{{ css('components/apertures', build.env) }}

<div class="chaarts-container">
  <table class="chaarts bar" style="--scale: 60">
    <caption id="caption-1">Apertures used to shot photos shared on this site</caption>
    <thead class="sr-only">
      <tr>
        <td></td>
        <th scope="col">Apertures</th>
      </tr>
    </thead>
    <tbody>
  {% for aperture in collections.apertures %}
      <tr>
        <th scope="row"><a href="/stats/apertures/{{ aperture.slug }}/">{{ aperture.aperture }}</a></th>
        <td style="--value: {{ aperture.number }}">
          <span>{{ aperture.number }}</span>
        </td>
      </tr>
  {% endfor %}
    </tbody>
  </table>
</div>
