---
layout: false
permalink: 404.html
---

{% extends "./_layouts/base.njk" %}

{% block content %}
  <section class="welcome">
    <h2>Error 404: there is no page at this URL</h2>

    <p>It looks like you tried to get to a page that doesn't exist (anymore?).</p>
  </section>
{% endblock %}
