---
layout: false
permalink: 404.html
title: "There is no page at this URL (404 error)"
---

{% extends "./_layouts/base.njk" %}

{% block content %}
  <section class="welcome">
    <h2>There is no page at this URL (404 error)</h2>
    <p>It looks like you tried to get to a page that doesn't exist (anymore?).</p>
    <p>Go to <a href="/">the home page</a> to discover my photos.</p>
  </section>
{% endblock %}
