---
layout: false
permalink: _headers
---
/*
  X-XSS-Protection: 1;mode=block
  X-Content-Type-Options: nosniff
  X-Frame-Options: SAMEORIGIN
  Referrer-Policy: no-referrer-when-downgrade
  Strict-Transport-Security: max-age=63072000; includeSubDomains; preload
  X-Clacks-Overhead: GNU Terry Pratchett
  Vary: Accept-Encoding

/*.js
  Content-Type: application/javascript; charset=utf-8

/*.svg
  Content-Type: image/svg+xml; charset=utf-8

{# Default CSP directives #}
  {% set cspScriptSrc = "'self' data: 'unsafe-inline' 'unsafe-eval'" %}
  {% set cspImgSrc = "'self' nicolas-hoizey.photo nho-photo.netlify.app blob:" %}
  {% set cspObjectSrc = "'self'" %}
  {% set cspConnectSrc = "'self' nho-photo.netlify.app" %}
  {% set cspWorkerSrc = "blob:" %}
  {% set cspChildSrc = "blob:" %}
  {% set cspFrameAncestors = "'none'" %} {# Best default for security #}
{# / Default CSP directives #}

{# Matomo #}
  {% set cspScriptSrc = cspScriptSrc + " " + "data.nicolas-hoizey.com" %}
  {% set cspImgSrc = cspImgSrc + " " + "data.nicolas-hoizey.com" %}
  {% set cspConnectSrc = cspConnectSrc + " " + "data.nicolas-hoizey.com" %}
{# / Matomo #}

{# Cloudinary #}
  {% set cspImgSrc = cspImgSrc + " " + "res.cloudinary.com" %}
  {% set cspConnectSrc = cspConnectSrc + " " + "res.cloudinary.com" %}
{# / Cloudinary #}

{# Mapbox #}
  {% set cspImgSrc = cspImgSrc + " " + "api.mapbox.com data:" %}
  {% set cspConnectSrc = cspConnectSrc + " " + "https://*.tiles.mapbox.com https://api.mapbox.com https://events.mapbox.com" %}
{# / Mapbox #}

{# Cloudflare #}
  {% set cspScriptSrc = cspScriptSrc + " " + "https://static.cloudflareinsights.com" %}
  {% set cspConnectSrc = cspConnectSrc + " " + "https://cloudflareinsights.com" %}
{# / Cloudflare #}

{# ResponsiveImageLint bookmarklet #}
  {% set cspScriptSrc = cspScriptSrc + " " + "https://ausi.github.io/respimagelint/" %}
  {% set cspChildSrc = cspChildSrc + " " + "'self' https://ausi.github.io/respimagelint/" %}
  {% set cspFrameAncestors = "'self'" %} {# Replace instead of appending #}
{# / ResponsiveImageLint bookmarklet #}

{% set documentHeaders %}
  Cache-Control: public, max-age=14405
  Link: </ui/fonts/Coniferous-Regular-subset.woff2>;rel=preload;as=font;crossorigin;nopush
  Link: <https://res.cloudinary.com>;rel="dns-prefetch"
  Link: <https://res.cloudinary.com>;rel="preconnect"
  Link: <https://data.nicolas-hoizey.com>;rel="dns-prefetch"
  Link: <https://data.nicolas-hoizey.com>;rel="preconnect"
  Content-Security-Policy: upgrade-insecure-requests;base-uri 'self';script-src {{ cspScriptSrc | safe }};img-src {{ cspImgSrc | safe }};object-src {{ cspObjectSrc | safe }};connect-src {{ cspConnectSrc | safe }};worker-src {{ cspWorkerSrc | safe }};child-src {{ cspChildSrc | safe }};frame-ancestors {{ cspFrameAncestors | safe }};report-uri https://nhocom.report-uri.com/r/d/csp/enforce
  Feature-Policy: accelerometer 'none';camera 'none';geolocation 'none';gyroscope 'none';magnetometer 'none';microphone 'none';payment 'none';usb 'none';ch-dpr 'self' https://res.cloudinary.com;ch-width 'self' https://res.cloudinary.com
  Permissions-Policy: accelerometer=(),camera=(),geolocation=(),gyroscope=(),magnetometer=(),microphone=(),payment=(),usb=(),ch-width=(self "https://res.cloudinary.com"),ch-dpr=(self "https://res.cloudinary.com")
  Accept-CH: Save-Data,DPR,Width,Sec-CH-Prefers-Reduced-Data,Sec-CH-DPR, Sec-CH-Width
{% endset %}

/{{ documentHeaders | safe }}

/*/{{ documentHeaders | safe }}
