---
permalink: bbox.json
layout: null
eleventyExcludeFromCollections: true
---
{%- set geojson = [] -%}
{%- for item in collections.unique_photos -%}
  {% set geojson = geojson | push([item.data.origin.data.geo.longitude, item.data.origin.data.geo.latitude]) %}
{%- endfor -%}
{{ geojson | bbox | jsonify }}
