---
layout: false
---

{% extends "./_layouts/base.njk" %}

{% block content %}
  {% set breadcrumb = [] %}
  {% include 'components/json-ld/breadcrumb.njk' %}

  <section class="welcome">
    <h2>Welcome to my photography portfolio!</h2>

    <p>I’m a French self-taught amateur photographer. I love to <a href="/travels/">travel</a> to discover new horizons and people, shooting both <a href="/nature/">nature</a> and <a href="/urban/">urban</a> scenery, and taking <a href="/portraits/">portraits</a>.</p>
  </section>

  {% from "macros/css.njk" import css %}
  {{ css('components/galleries', build.env) }}

  <section class="topics">
    <h3>Here are my favourite topics</h3>

    {% include 'components/sub-galleries.njk' %}
  </section>

  {% from "macros/css.njk" import css %}
  {{ css('components/gallery', build.env) }}

  <section class="latest">
    <h3>Here are my most recently shared photos</h3>

    {% from "macros/photo.njk" import photo %}

    <ul class="gallery">
      {% for item in collections.photos_in_galleries | photos_here_and_below('/galleries/') | limit(6) %}
        {{ photo(item, "lazy") }}
      {% endfor %}
    </ul>
  </section>
{% endblock %}
