---
title: Welcome!
---

<h2>Welcome to my photography portfolio!</h2>
<p>Here are the latest photos:</p>

{% from "macros/photo.njk" import photo %}

<ul class="gallery">
  {% for item in collections.photos | limit(6) %}
    {{ photo(item) }}
  {% endfor %}
</ul>
