---
permalink: manifest.webmanifest
layout: null
eleventyExcludeFromCollections: true
---
{
  "dir": "ltr",
  "lang": "en",
  "name": "Nicolas Hoizey photography",
  "short_name": "NH photo",
  "description": "{{ site.description }}",
  "scope": "/",
  "start_url": "/?utm_source=pwa",
  "display": "standalone",
  "orientation": "any",
  "theme_color": "#663399",
  "background_color": "#865aad",
  "icons": [
    {
      "src": "/ui/images/nicolas-hoizey-photography-192px.png",
      "sizes": "192x192",
      "type": "image/png"
    },
    {
      "src": "/ui/images/nicolas-hoizey-photography-512px.png",
      "sizes": "512x512",
      "type": "image/png"
    }
  ]
}
