---
pagination:
  data: collections.photos_for_map
  size: 1
  alias: photo
  filter:
    - all
  addAllPagesToCollections: false
layout: false
eleventyComputed:
  title: Short URL for “{{ photo.title }}”
permalink: /p/{{ photo.fileSlug }}/
---
<meta charset="utf-8">
<script>
window.location.replace('{{ photo.url }}');
</script>
