---
pagination:
  data: collections.photos_for_map
  size: 1
  alias: photo
  filter:
    - all
  addAllPagesToCollections: false
layout: false
eleventyComputed:
  title: Short URL for “{{ photo.title }}”
permalink: /p/{{ photo.fileSlug }}/
---
<meta charset="utf-8">
{% set photoUrl = 'https://nicolas-hoizey.photo' + '/photos/' + photo.fileSlug + '/' + photo.fileSlug + '.jpg' %}
{% if photo.dimensions.width < photo.dimensions.height %}
  {% set position = 'x_128' %}
{% else %}
  {% set position = 'x_48' %}
{% endif %}
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta name="twitter:creator" content="@{{ site.author.twitter }}" />
    <meta name="twitter:site" content="@{{ site.author.twitter }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
<meta property="og:image" content="https://res.cloudinary.com/nho/image/upload/w_1200,h_630,c_pad,g_south,b_rgb:{{ photo.origin.data.colors.darkMuted | bgcolor }},q_auto,f_auto/{{ site.opengraph.title.left.before }}:{{ photo.title | clean4cloudinary }}/{{ site.opengraph.title.left.after }}/{% if photo.geo.city and photo.geo.country %}w_480,c_fit,co_rgb:{{ photo.origin.data.colors.darkMuted | fgcolor }},l_text:Roboto%20Condensed_30:Shot in {{ photo.geo.city }}%252C {{ photo.geo.country }}/{{ site.opengraph.subtitle.left.after }}/{% endif %}l_fetch:{{ photoUrl | base64 }},w_600,h_408,c_fit,bo_1px_solid_black,bo_2px_solid_white/fl_layer_apply,g_north_east,y_48,{{ position }}/resources/nho-photo-opengraph-banner" />
<script>
window.location.replace('{{ photo.url }}');
</script>
