---
pagination:
  data: collections.unique_photos
  size: 1
  alias: photo
  filter:
    - all
  addAllPagesToCollections: false
layout: false
eleventyComputed:
  title: Short URL for “{{ photo.title }}”
permalink: /p/{{ photo.fileSlug }}/
---
<meta charset="utf-8">
{%- if photo.data.origin %}
<meta property="og:site_name" content="{{ site.title }}" />
<meta name="twitter:creator" content="@{{ site.author.twitter }}" />
<meta name="twitter:site" content="@{{ site.author.twitter }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta property="og:title" content="{{ photo.data.title }} — {{ site.title }}" />
<meta name="description" property="og:description" content="{{ site.description }}" />
{% if origin.data.opengraph %}
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image" content="{{ site.url }}/photos/{{ photo.fileSlug }}/opengraph.jpg" />
{%- endif %}
{%- endif %}
<script>
window.location.replace('{{ photo.url }}');
</script>
