---
layout: false
permalink: search/index.html
title: "Search"
---

{% extends "./_layouts/base.njk" %}

{% block content %}

{% from "macros/css.njk" import css %}
{{ css('components/pagefind', build.env) }}

<script src="/pagefind/pagefind-ui.js"></script>
<h1>Search photos</h1>
<div id="search"></div>
<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    const search_ui = new PagefindUI(
      {
        element: "#search",
        autofocus: true,
        pageSize: 10,
        showEmptyFilters: false,
        excerptLength: 50,
        showImages: true,
        showSubResults: false,
        resetStyles: false,
        translations: {
          placeholder: "Type your search…",
          clear_search: "Clear",
          load_more: "Load more photos",
          search_label: "Search this site",
          filters_label: "Filters",
          zero_results: "No photo found for “[SEARCH_TERM]”.",
          many_results: "[COUNT] photos found for “[SEARCH_TERM]”:",
          one_result: "[COUNT] photo found for “[SEARCH_TERM]”:",
          alt_search: "No photo found for “[SEARCH_TERM]”. Showing photos for “[DIFFERENT_TERM]” instead:",
          search_suggestion: "No photo found for “[SEARCH_TERM]”. Try one of the following searches:",
          searching: "Searching for “[SEARCH_TERM]”…"
        },
        processTerm: function (term) {
          history.replaceState({}, "", `?q=${encodeURIComponent(term)}`);
          return term;
        }
      });

      const params = new URLSearchParams(window.location.search);
      if (params.has('q')) {
        search_ui.triggerSearch(params.get('q'));
      }
  });
</script>
{% endblock %}
