---
layout: false
permalink: search/index.html
title: "Search"
---

{% extends "./_layouts/base.njk" %}

{% block content %}

{% from "macros/css.njk" import css %}
{{ css('components/pagefind', build.env) }}

<script src="/pagefind/pagefind-ui.js"></script>
<h1>Search photos</h1>
<div id="search"></div>
<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    new PagefindUI(
      {
        element: "#search",
        pageSize: 10,
        showEmptyFilters: false,
        showImages: true,
        showSubResults: false,
        resetStyles: false
      });
  });
</script>
{% endblock %}
