body {
  margin: 0;

  font-size: calc(0.9em + 0.3vw);
  font-size: clamp(1em, calc(0.9em + 0.3vw), 2em);
  line-height: 1.5;
  font-family: var(--font-family-sans-serif);

  background-color: #222;
  color: #eee;
}
