---
permalink: feeds/blog.xml
layout: null
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="/ui/pretty-atom-feed-v3.xsl" type="text/xsl" media="screen"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Latest blog posts from {{ site.title }}</title>
  <link href="{{ site.url }}/feeds/blog.xml" rel="self" />
  <link href="{{ site.url }}/" />
  <updated>{{ collections.blog | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ site.url }}/blog/</id>
  <author>
    <name>{{ site.author.name }}</name>
    <email>{{ site.author.email }}</email>
  </author>
  {% for entry in collections.blog | limit(20) %}
    {% set absoluteEntryUrl %}{{ entry.page.url | url | absoluteUrl(site.url) }}{% endset %}
    {% set titleDate = entry.date | readableDate %}
    <entry>
      <title>{{ entry.data.title or entry.data.layout + ' from ' + titleDate }}</title>
      <link href="{{ absoluteEntryUrl }}?utm_source=feed_blog&amp;utm_medium=feed" rel="alternate" type="text/html" />
      <updated>{{ entry.date | dateToRfc3339 }}</updated>
      <id>{{ absoluteEntryUrl }}</id>
      <content type="html"><![CDATA[
        {{ entry.content | cleanDeepLinks | htmlToAbsoluteUrls(absoluteEntryUrl) | safe }}
      ]]></content>
    </entry>
  {% endfor %}
</feed>
