---
layout: false
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Font fallback</title>
  <style>
  @font-face {
    font-family: 'Coniferous-subset';
    src: url(/ui/fonts/Coniferous-Regular-subset.woff2) format('woff2'),
      url(/ui/fonts/Coniferous-Regular-subset.woff) format('woff');
    unicode-range: U+20, U+21, U+23, U+26-29, U+2C-3B, U+3F, U+41-5A, U+61-7A, U+A0, U+B0, U+C0, U+C5, U+C9, U+CE, U+D6, U+D7, U+E0-E2, U+E4, U+E5, U+E7-EB, U+ED-EF, U+F3, U+F4, U+FA, U+FB, U+101, U+12B, U+153, U+161, U+2BF, U+389, U+393, U+395, U+39A, U+3AC, U+3AE, U+3B1, U+3B2, U+3B4, U+3B5, U+3B7, U+3BB, U+3BC, U+3BF, U+3C1, U+3C3, U+3C4, U+3CD, U+623, U+627, U+628, U+62A, U+62F, U+631, U+633, U+635, U+637, U+63A, U+640, U+642-644, U+646-648, U+64A, U+64E, U+650, U+652, U+10D0, U+10D1, U+10D3-10D5, U+10D7-10DD, U+10E0-10E3, U+10E5, U+10E7, U+10EA, U+10EC, U+10EE, U+10EF, U+1E6D, U+1E93, U+200E, U+2013, U+2019, U+201C, U+201D, U+2026, U+2D30, U+2D33, U+2D37, U+2D49, U+2D4D-2D4F, U+2D54, U+2D59, U+2D5F, U+2D62, U+2D65, U+4ED4, U+4F5B, U+4FDD, U+52D5, U+58C7, U+5927, U+5929, U+5F35, U+62F3, U+6CE2;
    font-weight: 400;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: 'Adjusted Brush Script MT Fallback';
    src: local(Brush Script MT);
    {# size-adjust: 95%; #}
    {# ascent-override: 117%;
    descent-override: 43%;
    line-gap-override: 0%; #}
  }

  h1 {
    position: absolute;
    opacity: 0.5;
  }

  .no-fallback {
    font-family: Coniferous-subset, 'Arial Narrow', 'Franklin Gothic Medium', sans-serif;
    color: red;
  }

  .fallback {
    font-family: Coniferous-subset, 'Adjusted Brush Script MT Fallback', 'Arial Narrow', 'Franklin Gothic Medium', sans-serif;
    color: blue;
  }
  </style>
</head>
<body>
<h1 class="no-fallback">Welcome to my photography portfolio!</h1>
<h1 class="fallback">Welcome to my photography portfolio!</h1>
</body>
</html>
