---
layout: base
permalink: /tools/subset.html
title: Every characters in headings
eleventyExcludeFromCollections: true
---

{%- set every_char = '' -%}
{%- for item in collections.all -%}
  {%- set item_chars -%}{{ item.data.title | safe }}{{ item.templateContent | extractHeadingsText | striptags | safe }}{%- endset -%}
  {%- set new_every_char -%}{{ every_char | safe }}{{ item_chars | split("") | uniq | join("") | safe }}{%- endset -%}
  {%- set every_char = new_every_char -%}
{%- endfor -%}
<h1>{{- every_char | split("") | uniq | sort | join("") | safe -}}</h1>
