@use './variables' as *;
@use './utopia';
@use './accessibility';
@use './fonts';
@use './layout';
@use './links';
@use './components/meta';
@use './tokens/spaces';
@use './tokens/colors';
@use './view-transitions';

:root {
  /* ********************************************
  * CUSTOM PROPERTIES
  * ********************************************/
  --logo-wide: calc(13.5rem + 18vw);
  --logo-square: calc(9rem + 2vw);
  --pan-x-start: -5%;
  --pan-y-start: 5%;

  // Set root container
  container: viewport / inline-size;

  // https://www.htmhell.dev/adventcalendar/2022/19/
  color-scheme: dark;

  --full-height: 100vh;
  @supports (height: 100dvh) {
    --full-height: 100dvh;
  }
}

html {
  /* ********************************************
  * BOX SIZING
  * ********************************************/

  // http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
  box-sizing: border-box;

  // Prevent text zoom on iOS landscape
  // https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  // https://twitter.com/TimVereecke/status/1239454788116533248
  // https://twitter.com/lfredolo/status/1240301405325361152
  overflow-y: scroll;

  // https://twitter.com/TimVereecke/status/1523583123631804416
  scrollbar-gutter: stable;

  // https://twitter.com/bramus/status/1452578879353278464
  background-color: colors.$surface;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ********************************************
* COMMON STYLES
* ********************************************/

@media (prefers-reduced-motion: no-preference) {
  // https://css-tricks.com/fixing-smooth-scrolling-with-find-on-page/
  html:focus-within {
    scroll-behavior: smooth;
  }
}

body {
  background-color: colors.$surface;
  color: colors.$text;

  // https://github.com/system-fonts/modern-font-stacks#humanist
  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans',
    source-sans-pro, sans-serif;
  font-size: var(--step-0);
  line-height: $line-height;
}

main {
  & > *:first-child {
    margin-block-start: 0;
  }
}

section {
  margin-block-start: spaces.$xxxxl;
}

p {
  max-width: 70ch;
}

/* ********************************************
* HEADINGS
* ********************************************/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Coniferous-subset', 'Adjusted Arial Narrow Fallback',
    'Arial Narrow', 'Adjusted Trebuchet MS Fallback', sans-serif;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  text-wrap: balance;
}

.welcome {
  margin-block-start: spaces.$m;
}

h1 {
  font-size: var(--step-3);

  .breadcrumb + &,
  .flag + & {
    margin-block-start: 0;
  }
}

h2 {
  font-size: var(--step-2);
}

h3 {
  font-size: var(--step-1);
  margin-block-start: spaces.$xxxl;
}

h4 {
  font-size: var(--step-0);
  margin: spaces.$xl 0 spaces.$s;
}

/* ********************************************
* INLINE ELEMENTS
* ********************************************/

img {
  max-width: 100%;
  height: auto;
}

svg.icon {
  width: 1.2em;
  height: 1.2em;
  vertical-align: sub;
  fill: none;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;

  * {
    vector-effect: non-scaling-stroke;
    stroke: var(--ambiant-foreground, #{colors.$brand-500});
  }
}

/* ********************************************
* PHOTO
* ********************************************/

figure {
  margin: 0;
  position: relative;

  display: flex;
  flex-direction: column;
  gap: spaces.$s;

  figcaption {
    line-height: 1.3;
    padding: spaces.$xxxs;
    color: colors.$brand-500;

    p {
      margin: 0;
      padding: spaces.$xxxs;
    }
  }

  a {
    text-decoration: none;
    font-weight: bold;
  }

  a::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.frame {
  background-color: colors.$gray-50;
  padding: 0;
  box-shadow: 0 0 0 4px colors.$gray-50, 0 0 0 5px colors.$gray-500;
  font-size: 1rem;
  overflow: clip;
}

/* ********************************************
* MISC
* ********************************************/

blockquote {
  margin: 0;

  font-style: italic;
  color: colors.$brand-500;

  em,
  cite {
    font-style: normal;
  }

  cite {
    font-size: var(--step--1);
    color: colors.$brand-700;
  }
}

.logo {
  float: right;
  margin: 0 0 spaces.$xl spaces.$xl;
  width: 30%;
  max-width: 200px;
}
